{"openapi":"3.0.1","info":{"title":"Species API","description":"This API works against data kept in the GBIF Checklist Bank which taxonomically indexes all registered [checklist datasets](https://www.gbif.org/dataset/search?type=CHECKLIST) in the GBIF network.\n\nInternally we use a [Java web service client](https://github.com/gbif/checklistbank/tree/master/checklistbank-ws-client) for the consumption of these HTTP-based, RESTful JSON web services.","termsOfService":"https://www.gbif.org/terms","version":"v1"},"servers":[{"url":"https://api.gbif.org/","description":"Production"},{"url":"https://api.gbif-uat.org/","description":"User testing"}],"tags":[{"name":"Species","description":"### Working with Name Usages.\n\nA name usage is the usage of a scientific name according to one particular checklist including the [GBIF Taxonomic Backbone](https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c) which is called \u201cNUB\u201d in this API.\n\nBackbone name usages have `key == nubKey`.  Name usages from other checklists with names that also exist in the backbone will have a `taxonKey` that points to the related usage in the backbone.","x-Order":{"Order":"0100"}},{"name":"Searching names","description":"GBIF provide four different ways of finding name usages. They differ in their matching behavior, response format and also the actual content covered.","x-Order":{"Order":"0200"}},{"name":"Name parser","description":"GBIF exposes its java based name parser library through our API. The service takes one or a list of simple scientific name strings, parses each and returns a list of parsed names.","x-Order":{"Order":"0300"}}],"paths":{"/v1/parser/name":{"get":{"tags":["Name parser"],"summary":"Parse a scientific name","description":"Parses a scientific name string and returns the ParsedName version of it.\n\nAccepts multiple parameters each with a single name. Make sure you URL encode the names properly.","operationId":"parseName","parameters":[{"name":"name","in":"query","description":"A scientific name to parse. Repeat to parse several names","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Parsed name usages","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParsedName"}}},"application/x-javascript":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParsedName"}}}}}}},"post":{"tags":["Name parser"],"summary":"Parse a list of scientific names","description":"Parses a list of scientific names supplied as a JSON list, a form request or a plain text file with Unix (\\n) line endings.  In all cases the names should use UTF-8 encoding.\n\n```\ncurl -X POST -H 'Content-Type: application/json' --data-binary @scientific_names.json https://api.gbif.org/v1/species/parser/name\ncurl -F names=@scientific_names.txt https://api.gbif.org/v1/species/parser/name\ncurl -X POST -H 'Content-Type: text/plain' --data-binary @scientific_names.txt https://api.gbif.org/v1/species/parser/name\n```\n","operationId":"parseName_1","requestBody":{"content":{"text/plain":{"schema":{"type":"string","description":"Scientific names to parse, one per line, with Unix (\\n) newlines."}},"multipart/form-data":{"schema":{"required":["names"],"type":"object","properties":{"names":{"type":"string","description":"Scientific names to parse, one per line, with Unix (\\n) newlines.","format":"binary"}}}},"application/json":{"schema":{"type":"array","description":"A list of names to parse, such as `[\"First name\", \"Second name\"]`.","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"Parsed name usages","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParsedName"}}},"application/x-javascript":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParsedName"}}}}}}}},"/v1/species/{usageKey}/vernacularNames":{"get":{"tags":["Species"],"summary":"Name usage vernacular names by id","description":"Retrieves all vernacular names for a name usage.","operationId":"getNameUsageVernacularNames","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage vernacular names found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseVernacularName"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseVernacularName"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/verbatim":{"get":{"tags":["Species"],"summary":"Verbatim name usage by id","description":"Retrieves a verbatim name usage.\n\nThe response object has JSON properties for each verbatim term property.","operationId":"getNameUsageVerbatim","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Verbatim name usage found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerbatimNameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/VerbatimNameUsage"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/typeSpecimens":{"get":{"tags":["Species"],"summary":"Name usage type specimens by id","description":"Retrieves partial type specimen information for a name usage.\n\nThe current Checklistbank only includes this information for some genus and family names, see [limitations](https://github.com/gbif/portal-feedback/issues/1146#issuecomment-366260607)","operationId":"getNameUsageTypeSpecimens","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Name usage type specimens found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseTypeSpecimen"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseTypeSpecimen"}}}},"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"}},"deprecated":true}},"/v1/species/{usageKey}/toc":{"get":{"tags":["Species"],"summary":"Name usage descriptions table of contents","description":"Retrieves a table of contents for all descriptions of a name usage.","operationId":"getNameUsageDescriptionsTableOfContents","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage description table of contents.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableOfContents"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/TableOfContents"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/synonyms":{"get":{"tags":["Species"],"summary":"Name usage synonyms by id","description":"Retrieves all synonyms for a name usage.","operationId":"getNameUsageSynonyms","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Name usage synonyms found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}}}},"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/speciesProfiles":{"get":{"tags":["Species"],"summary":"Name usage species profiles by id","description":"Retrieves all species profiles for a name usage.\n\nSpecies profiles describe basic species characteristics.","externalDocs":{"description":"Species profile extension definition","url":"https://rs.gbif.org/terms/1.0/SpeciesProfile"},"operationId":"getNameUsageSpeciesProfiles","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage species profiles found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseSpeciesProfile"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseSpeciesProfile"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/related":{"get":{"tags":["Species"],"summary":"Related name usages by id","description":"Retrieves all related name usages for a name usage.","operationId":"getNameUsageRelated","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"datasetKey","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","format":"uuid"},"default":[]}},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Related name usages found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/references":{"get":{"tags":["Species"],"summary":"Name usage references by id","description":"Retrieves all references for a name usage.","operationId":"getNameUsageReferences","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage references found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseReference"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseReference"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/parents":{"get":{"tags":["Species"],"summary":"Parent name usages by id","description":"Retrieves all parent name usages for a name usage.","operationId":"getNameUsageParents","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Parent name usages found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameUsage"}}},"application/x-javascript":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameUsage"}}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/name":{"get":{"tags":["Species"],"summary":"Parsed name usage by id","description":"Retrieves the parsed name for a single name usage.","operationId":"getNameUsageNameParsed","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Parsed name usage found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParsedName"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/ParsedName"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/metrics":{"get":{"tags":["Species"],"summary":"Name usage metrics by id","description":"Retrieves metrics for a single name usage.","operationId":"getNameUsageMetrics","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage metrics found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameUsageMetrics"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/NameUsageMetrics"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/media":{"get":{"tags":["Species"],"summary":"Name usage media by id","description":"Retrieves all media for a name usage.","operationId":"getNameUsageMedia","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage media found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsageMediaObject"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsageMediaObject"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/iucnRedListCategory":{"get":{"tags":["Species"],"summary":"IUCN Red List Category for a name usage","description":"Retrieves the IUCN Red List Category for a name usage.  If the matching IUCN usage does not contain a category, Not Evaluated (NE) is returned.","operationId":"getNameUsageIucnRedListCategory","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"IUCN Red List category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IucnRedListCategory"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/IucnRedListCategory"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/identifier":{"get":{"tags":["Species"],"summary":"Name usage identifiers by id","description":"Retrieves all identifiers for a name usage.","operationId":"getNameUsageIdentifiers","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Name usage identifiers found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseIdentifier"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseIdentifier"}}}},"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/distributions":{"get":{"tags":["Species"],"summary":"Name usage distributions by id","description":"Retrieves all distributions for a name usage.","operationId":"getNameUsageDistributions","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"},"200":{"description":"Name usage distributions found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseDistribution"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseDistribution"}}}}}}},"/v1/species/{usageKey}/descriptions":{"get":{"tags":["Species"],"summary":"Name usage descriptions by id","description":"Retrieves all descriptions for a name usage.","operationId":"getNameUsageDescriptions","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"},"200":{"description":"Name usage descriptions found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseDescription"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseDescription"}}}}}}},"/v1/species/{usageKey}/combinations":{"get":{"tags":["Species"],"summary":"Name usage recombinations by id","description":"Lists all (re)combinations of a given basionym, excluding the basionym itself.","operationId":"getNameUsageRecombinations","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"}],"responses":{"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"},"200":{"description":"Name usage recombinations found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameUsage"}}},"application/x-javascript":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameUsage"}}}}}}}},"/v1/species/{usageKey}/childrenAll":{"get":{"tags":["Species"],"summary":"All name usage children by id","description":"Retrieves a brief list of all child Name Usages for a parent Name Usage.","operationId":"getNameUsageChildrenAll","parameters":[{"name":"usageKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage children found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UsageCount"}}},"application/x-javascript":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UsageCount"}}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}/children":{"get":{"tags":["Species"],"summary":"Name usage children by id","description":"Retrieves a list of child Name Usages for a parent Name Usage.","operationId":"getNameUsageChildren","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage children found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species/{usageKey}":{"get":{"tags":["Species"],"summary":"Name usage by id","description":"Retrieves a single name usage.","operationId":"getNameUsage","parameters":[{"name":"usageKey","in":"path","description":"Name usage key.","required":true,"schema":{"type":"integer","format":"int32"},"example":5231190},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"}],"responses":{"200":{"description":"Name usage found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/NameUsage"}}}},"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"}},"x-Order":{"Order":"0200"}}},"/v1/species/suggest":{"get":{"tags":["Searching names"],"summary":"Name autocomplete service","description":"A quick and simple autocomplete service that returns up to 20 name usages by doing prefix matching against the scientific name.\n\nResults are ordered by relevance.","operationId":"suggestNames","parameters":[{"name":"datasetKey","in":"query","description":"A UUID of a checklist dataset.","schema":{"type":"string","format":"uuid"},"example":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},{"name":"constituentKey","in":"query","description":"The (sub)dataset constituent key as a UUID. Useful to query larger assembled datasets such as the GBIF Backbone or the Catalogue of Life","schema":{"type":"string","format":"uuid"}},{"name":"rank","in":"query","description":"Filters by taxonomic rank as given in our https://api.gbif.org/v1/enumeration/basic/Rank[Rank enum].","schema":{"type":"string","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/taxonRank"},"enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]}},{"name":"higherTaxonKey","in":"query","description":"Filters by any of the higher Linnean rank keys. Note this is within the respective checklist and not searching NUB keys across all checklists."},{"name":"status","in":"query","description":"Filters by the taxonomic status as given in our https://api.gbif.org/v1/enumeration/basic/TaxonomicStatus[TaxonomicStatus enum].","schema":{"type":"string","enum":["ACCEPTED","DOUBTFUL","SYNONYM","HETEROTYPIC_SYNONYM","HOMOTYPIC_SYNONYM","PROPARTE_SYNONYM","MISAPPLIED"]}},{"name":"isExtinct","in":"query","description":"Filters by extinction status.","schema":{"type":"boolean"}},{"name":"habitat","in":"query","description":"Filters by the habitat. Currently only 3 major biomes are accepted in our https://api.gbif.org/v1/enumeration/basic/Habitat[Habitat enum].","schema":{"type":"string","enum":["MARINE","FRESHWATER","TERRESTRIAL"]}},{"name":"threat","in":"query","description":"Filters by the taxonomic threat status as given in our https://api.gbif.org/v1/enumeration/basic/ThreatStatus[ThreatStatus enum].","schema":{"type":"string","enum":["EXTINCT","EXTINCT_IN_THE_WILD","REGIONALLY_EXTINCT","CRITICALLY_ENDANGERED","ENDANGERED","VULNERABLE","NEAR_THREATENED","LEAST_CONCERN","DATA_DEFICIENT","NOT_APPLICABLE","NOT_EVALUATED"]}},{"name":"nameType","in":"query","description":"Filters by the name type as given in our https://api.gbif.org/v1/enumeration/basic/NameType[NameType enum].","schema":{"type":"string","enum":["SCIENTIFIC","VIRUS","HYBRID","INFORMAL","CULTIVAR","CANDIDATUS","OTU","DOUBTFUL","PLACEHOLDER","NO_NAME","BLACKLISTED"]}},{"name":"nomenclaturalStatus","in":"query","description":"Filters by the nomenclatural status as given in our https://api.gbif.org/v1/enumeration/basic/NomenclaturalStatus[Nomenclatural Status enum].","schema":{"type":"string","enum":["LEGITIMATE","VALIDLY_PUBLISHED","NEW_COMBINATION","REPLACEMENT","CONSERVED","PROTECTED","CORRECTED","ORIGINAL_COMBINATION","NEW_SPECIES","NEW_GENUS","ALTERNATIVE","OBSCURE","CONSERVED_PROPOSED","PROVISIONAL","SUBNUDUM","REJECTED_PROPOSED","REJECTED_OUTRIGHT_PROPOSED","DOUBTFUL","AMBIGUOUS","CONFUSED","FORGOTTEN","ABORTED","ORTHOGRAPHIC_VARIANT","SUPERFLUOUS","NUDUM","NULL_NAME","SUPPRESSED","REJECTED_OUTRIGHT","REJECTED","ILLEGITIMATE","INVALID","DENIED"]}},{"name":"origin","in":"query","description":"Filters for name usages with a specific origin.","schema":{"type":"string","enum":["SOURCE","DENORMED_CLASSIFICATION","VERBATIM_PARENT","VERBATIM_ACCEPTED","VERBATIM_BASIONYM","PROPARTE","AUTONYM","IMPLICIT_NAME","MISSING_ACCEPTED","BASIONYM_PLACEHOLDER","EX_AUTHOR_SYNONYM","OTHER"]}},{"name":"issue","in":"query","description":"A specific indexing issue as defined in our https://api.gbif.org/v1/enumeration/basic/NameUsageIssue[NameUsageIssue enum].","schema":{"type":"string","enum":["PARENT_NAME_USAGE_ID_INVALID","ACCEPTED_NAME_USAGE_ID_INVALID","ORIGINAL_NAME_USAGE_ID_INVALID","ACCEPTED_NAME_MISSING","RANK_INVALID","NOMENCLATURAL_STATUS_INVALID","TAXONOMIC_STATUS_INVALID","SCIENTIFIC_NAME_ASSEMBLED","CHAINED_SYNOYM","BASIONYM_AUTHOR_MISMATCH","TAXONOMIC_STATUS_MISMATCH","PARENT_CYCLE","CLASSIFICATION_RANK_ORDER_INVALID","CLASSIFICATION_NOT_APPLIED","VERNACULAR_NAME_INVALID","DESCRIPTION_INVALID","DISTRIBUTION_INVALID","SPECIES_PROFILE_INVALID","MULTIMEDIA_INVALID","BIB_REFERENCE_INVALID","ALT_IDENTIFIER_INVALID","BACKBONE_MATCH_NONE","BACKBONE_MATCH_FUZZY","BACKBONE_MATCH_AGGREGATE","ACCEPTED_NAME_NOT_UNIQUE","PARENT_NAME_NOT_UNIQUE","ORIGINAL_NAME_NOT_UNIQUE","RELATIONSHIP_MISSING","ORIGINAL_NAME_DERIVED","CONFLICTING_BASIONYM_COMBINATION","NO_SPECIES","NAME_PARENT_MISMATCH","ORTHOGRAPHIC_VARIANT","HOMONYM","PUBLISHED_BEFORE_GENUS","UNPARSABLE","PARTIALLY_PARSABLE"]}},{"name":"q","in":"query","description":"Simple full text search parameter. The value for this parameter can be a simple word or a phrase. Wildcards are not supported","schema":{"type":"string"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Name usage suggestions found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameUsageSuggestResult"}}},"application/x-javascript":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameUsageSuggestResult"}}}}},"404":{"description":"Name usage not found"}},"x-Order":{"Order":"0150"}}},"/v1/species/search":{"get":{"tags":["Searching names"],"summary":"Full text search over name usages","description":"Full-text search of name usages covering the scientific and vernacular names, the species description, distribution and the entire classification across all name usages of all or some checklists.\n\nResults are ordered by relevance as this search usually returns a lot of results.","operationId":"searchNames","parameters":[{"name":"datasetKey","in":"query","description":"A UUID of a checklist dataset.","schema":{"type":"string","format":"uuid"},"example":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},{"name":"constituentKey","in":"query","description":"The (sub)dataset constituent key as a UUID. Useful to query larger assembled datasets such as the GBIF Backbone or the Catalogue of Life","schema":{"type":"string","format":"uuid"}},{"name":"rank","in":"query","description":"Filters by taxonomic rank as given in our https://api.gbif.org/v1/enumeration/basic/Rank[Rank enum].","schema":{"type":"string","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/taxonRank"},"enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]}},{"name":"higherTaxonKey","in":"query","description":"Filters by any of the higher Linnean rank keys. Note this is within the respective checklist and not searching NUB keys across all checklists."},{"name":"status","in":"query","description":"Filters by the taxonomic status as given in our https://api.gbif.org/v1/enumeration/basic/TaxonomicStatus[TaxonomicStatus enum].","schema":{"type":"string","enum":["ACCEPTED","DOUBTFUL","SYNONYM","HETEROTYPIC_SYNONYM","HOMOTYPIC_SYNONYM","PROPARTE_SYNONYM","MISAPPLIED"]}},{"name":"isExtinct","in":"query","description":"Filters by extinction status.","schema":{"type":"boolean"}},{"name":"habitat","in":"query","description":"Filters by the habitat. Currently only 3 major biomes are accepted in our https://api.gbif.org/v1/enumeration/basic/Habitat[Habitat enum].","schema":{"type":"string","enum":["MARINE","FRESHWATER","TERRESTRIAL"]}},{"name":"threat","in":"query","description":"Filters by the taxonomic threat status as given in our https://api.gbif.org/v1/enumeration/basic/ThreatStatus[ThreatStatus enum].","schema":{"type":"string","enum":["EXTINCT","EXTINCT_IN_THE_WILD","REGIONALLY_EXTINCT","CRITICALLY_ENDANGERED","ENDANGERED","VULNERABLE","NEAR_THREATENED","LEAST_CONCERN","DATA_DEFICIENT","NOT_APPLICABLE","NOT_EVALUATED"]}},{"name":"nameType","in":"query","description":"Filters by the name type as given in our https://api.gbif.org/v1/enumeration/basic/NameType[NameType enum].","schema":{"type":"string","enum":["SCIENTIFIC","VIRUS","HYBRID","INFORMAL","CULTIVAR","CANDIDATUS","OTU","DOUBTFUL","PLACEHOLDER","NO_NAME","BLACKLISTED"]}},{"name":"nomenclaturalStatus","in":"query","description":"Filters by the nomenclatural status as given in our https://api.gbif.org/v1/enumeration/basic/NomenclaturalStatus[Nomenclatural Status enum].","schema":{"type":"string","enum":["LEGITIMATE","VALIDLY_PUBLISHED","NEW_COMBINATION","REPLACEMENT","CONSERVED","PROTECTED","CORRECTED","ORIGINAL_COMBINATION","NEW_SPECIES","NEW_GENUS","ALTERNATIVE","OBSCURE","CONSERVED_PROPOSED","PROVISIONAL","SUBNUDUM","REJECTED_PROPOSED","REJECTED_OUTRIGHT_PROPOSED","DOUBTFUL","AMBIGUOUS","CONFUSED","FORGOTTEN","ABORTED","ORTHOGRAPHIC_VARIANT","SUPERFLUOUS","NUDUM","NULL_NAME","SUPPRESSED","REJECTED_OUTRIGHT","REJECTED","ILLEGITIMATE","INVALID","DENIED"]}},{"name":"origin","in":"query","description":"Filters for name usages with a specific origin.","schema":{"type":"string","enum":["SOURCE","DENORMED_CLASSIFICATION","VERBATIM_PARENT","VERBATIM_ACCEPTED","VERBATIM_BASIONYM","PROPARTE","AUTONYM","IMPLICIT_NAME","MISSING_ACCEPTED","BASIONYM_PLACEHOLDER","EX_AUTHOR_SYNONYM","OTHER"]}},{"name":"issue","in":"query","description":"A specific indexing issue as defined in our https://api.gbif.org/v1/enumeration/basic/NameUsageIssue[NameUsageIssue enum].","schema":{"type":"string","enum":["PARENT_NAME_USAGE_ID_INVALID","ACCEPTED_NAME_USAGE_ID_INVALID","ORIGINAL_NAME_USAGE_ID_INVALID","ACCEPTED_NAME_MISSING","RANK_INVALID","NOMENCLATURAL_STATUS_INVALID","TAXONOMIC_STATUS_INVALID","SCIENTIFIC_NAME_ASSEMBLED","CHAINED_SYNOYM","BASIONYM_AUTHOR_MISMATCH","TAXONOMIC_STATUS_MISMATCH","PARENT_CYCLE","CLASSIFICATION_RANK_ORDER_INVALID","CLASSIFICATION_NOT_APPLIED","VERNACULAR_NAME_INVALID","DESCRIPTION_INVALID","DISTRIBUTION_INVALID","SPECIES_PROFILE_INVALID","MULTIMEDIA_INVALID","BIB_REFERENCE_INVALID","ALT_IDENTIFIER_INVALID","BACKBONE_MATCH_NONE","BACKBONE_MATCH_FUZZY","BACKBONE_MATCH_AGGREGATE","ACCEPTED_NAME_NOT_UNIQUE","PARENT_NAME_NOT_UNIQUE","ORIGINAL_NAME_NOT_UNIQUE","RELATIONSHIP_MISSING","ORIGINAL_NAME_DERIVED","CONFLICTING_BASIONYM_COMBINATION","NO_SPECIES","NAME_PARENT_MISMATCH","ORTHOGRAPHIC_VARIANT","HOMONYM","PUBLISHED_BEFORE_GENUS","UNPARSABLE","PARTIALLY_PARSABLE"]}},{"name":"q","in":"query","description":"Simple full text search parameter. The value for this parameter can be a simple word or a phrase. Wildcards are not supported","schema":{"type":"string"}},{"name":"hl","in":"query","description":"Set `hl=true` to highlight terms matching the query when in fulltext search fields. The highlight will be an emphasis tag of class `gbifHl`.","schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}},{"name":"facet","in":"query","description":"A facet name used to retrieve the most frequent values for a field. This parameter may be repeated to request multiple facets.","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"facetMincount","in":"query","description":"Used in combination with the facet parameter. Set `facetMincount={#}` to exclude facets with a count less than `{#}`.","schema":{"type":"integer","format":"int32"}},{"name":"facetMultiselect","in":"query","description":"Used in combination with the facet parameter. Set `facetMultiselect=true` to still return counts for values that are not currently filtered.","schema":{"type":"boolean"}},{"name":"facetLimit","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}},{"name":"facetOffset","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Name usages found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponseNameUsageSearchResultNameUsageSearchParameter"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/SearchResponseNameUsageSearchResultNameUsageSearchParameter"}}}},"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"}},"x-Order":{"Order":"0110"}}},"/v1/species/root/{datasetKey}":{"get":{"tags":["Species"],"summary":"Root name usages of a dataset","description":"Retrieves root name usages for a checklist dataset.","operationId":"getRootUsages","parameters":[{"name":"datasetKey","in":"path","description":"A UUID of a checklist dataset.","required":true,"schema":{"type":"string","format":"uuid"},"example":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Invalid query"},"200":{"description":"Root name usages found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}}}},"404":{"description":"Name usage not found"}}}},"/v1/species":{"get":{"tags":["Searching names"],"summary":"List all name usages","description":"Lists all name usages across all checklists.","operationId":"listNames","parameters":[{"name":"datasetKey","in":"query","description":"A UUID of a checklist dataset.","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"sourceId","in":"query","description":"Filters by the source identifier.","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"A name without authorship, to match exactly.","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"Accept-Language","in":"header","description":"Language for vernacular names, given as an ISO 639-1 **two-letter** code from our [vocabulary](https://api.gbif.org/v1/enumeration/language).","schema":{"type":"string","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"example":"en"}],"responses":{"200":{"description":"Name usages found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/PagingResponseNameUsage"}}}},"400":{"description":"Invalid query"},"404":{"description":"Name usage not found"}},"x-Order":{"Order":"0100"}}},"/v2/species/match":{"get":{"tags":["Searching names"],"summary":"Fuzzy name match service (Version 2)","description":"Fuzzy matches scientific names against the Taxonomy with the optional classification provided. If a classification is provided and strict is not set to true, the default matching will also try to match against these if no direct match is found for the name parameter alone.\n\nAdditionally, a lookup may be performed by providing the usageKey which will short-circuit the name-based matching and ONLY use the given key, either finding the concept or returning no match.","operationId":"matchNames","parameters":[{"name":"usageKey","in":"query","description":"The usage key to look up. When provided, all other fields are ignored.","required":false,"schema":{"type":"string"}},{"name":"taxonID","in":"query","description":"The taxonID to match. Matches to a taxonID will take precedence over scientificName values supplied. A comparison of the matched scientific and taxonID is performed tocheck for inconsistencies.See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:taxonID'>taxonID</a> for more details.","required":false,"schema":{"type":"string"}},{"name":"taxonConceptID","in":"query","description":"The taxonConceptID to match. Matches to a taxonConceptID will take precedence over scientificName values supplied. A comparison of the matched scientific and taxonConceptID is performed to check for inconsistencies.See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:taxonConceptID'>taxonConceptID</a> for more details.","required":false,"schema":{"type":"string"}},{"name":"scientificNameID","in":"query","description":"The scientificNameID to match. Matches to a scientificNameID will take precedence over scientificName values supplied. A comparison of the matched scientific and scientificNameID is performed to check for inconsistencies.See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:scientificNameID'>scientificNameID</a> for more details","required":false,"schema":{"type":"string"}},{"name":"scientificName","in":"query","description":"The scientific name to fuzzy match against. May include the authorship and year. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:scientificName'>scientificName</a> for more details","required":false,"schema":{"type":"string"}},{"name":"scientificNameAuthorship","in":"query","description":"The scientific name authorship to  match against.  See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:scientificNameAuthorship'>scientificNameAuthorship</a> for more details","required":false,"schema":{"type":"string"}},{"name":"taxonRank","in":"query","description":"Filters by taxonomic rank. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:taxonRank'>taxonRank</a> for more details","required":false,"schema":{"type":"string","enum":["SUPERDOMAIN","DOMAIN","SUBDOMAIN","INFRADOMAIN","EMPIRE","REALM","SUBREALM","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","PARVPHYLUM","MICROPHYLUM","NANOPHYLUM","CLAUDIUS","GIGACLASS","MEGACLASS","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","SUBTERCLASS","PARVCLASS","SUPERDIVISION","DIVISION","SUBDIVISION","INFRADIVISION","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","MEGACOHORT","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","GIGAORDER","MAGNORDER","GRANDORDER","MIRORDER","SUPERORDER","ORDER","NANORDER","HYPOORDER","MINORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERSECTION_ZOOLOGY","SECTION_ZOOLOGY","SUBSECTION_ZOOLOGY","FALANX","GIGAFAMILY","MEGAFAMILY","GRANDFAMILY","SUPERFAMILY","EPIFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","SUPERGENUS","GENUS","SUBGENUS","INFRAGENUS","SUPERSECTION_BOTANY","SECTION_BOTANY","SUBSECTION_BOTANY","SUPERSERIES","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","KLEPTON","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","NATIO","ABERRATION","MORPH","SUPERVARIETY","VARIETY","SUBVARIETY","SUPERFORM","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","LUSUS","CULTIVAR","MUTATIO","STRAIN","OTHER","UNRANKED"]}},{"name":"verbatimTaxonRank","in":"query","description":"Filters by taxonomic rank. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:verbatimTaxonRank'>verbatimTaxonRank</a> for more details","required":false,"schema":{"type":"string"}},{"name":"genericName","in":"query","description":"Generic part of the name to match when given as atomised parts instead of the full name parameter.See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:genericName'>genericName</a> for more details","required":false,"schema":{"type":"string"}},{"name":"specificEpithet","in":"query","description":"Specific epithet to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:specificEpithet'>specificEpithet</a> for more details","required":false,"schema":{"type":"string"}},{"name":"infraspecificEpithet","in":"query","description":"Infraspecific epithet to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:infraspecificEpithet'>infraspecificEpithet</a> for more details","required":false,"schema":{"type":"string"}},{"name":"kingdom","in":"query","description":"Kingdom to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:kingdom'>kingdom</a> for more details","required":false,"schema":{"type":"string"}},{"name":"phylum","in":"query","description":"Phylum to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:phylum'>phylum</a> for more details","required":false,"schema":{"type":"string"}},{"name":"order","in":"query","description":"Order to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:order'>order</a> for more details","required":false,"schema":{"type":"string"}},{"name":"superfamily","in":"query","description":"Superfamily to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:superfamily'>superfamily</a> for more details","required":false,"schema":{"type":"string"}},{"name":"family","in":"query","description":"Family to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:family'>family</a> for more details","required":false,"schema":{"type":"string"}},{"name":"subfamily","in":"query","description":"Subfamily to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:subfamily'>subfamily</a> for more details","required":false,"schema":{"type":"string"}},{"name":"tribe","in":"query","description":"Tribe to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:tribe'>tribe</a> for more details","required":false,"schema":{"type":"string"}},{"name":"subtribe","in":"query","description":"Subtribe to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:subtribe'>subtribe</a> for more details","required":false,"schema":{"type":"string"}},{"name":"genus","in":"query","description":"Genus to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:genus'>genus</a> for more details","required":false,"schema":{"type":"string"}},{"name":"subgenus","in":"query","description":"Subgenus to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:subgenus'>subgenus</a> for more details","required":false,"schema":{"type":"string"}},{"name":"species","in":"query","description":"Species to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:species'>species</a> for more details","required":false,"schema":{"type":"string"}},{"name":"exclude","in":"query","description":"An array of usage keys to exclude from the match.","required":false,"schema":{"type":"string"}},{"name":"strict","in":"query","description":"If set to true, fuzzy matches only the given name, but never a taxon in the upper classification.","required":false,"schema":{"type":"boolean"}},{"name":"verbose","in":"query","description":"If set to true, it shows alternative matches which were considered but then rejected.","required":false,"schema":{"type":"boolean"}},{"name":"class","in":"query","description":"Class to match. See Darwin core term <a href='https://dwc.tdwg.org/terms/#dwc:class'>class</a> for more details","schema":{"type":"string"}}],"responses":{"200":{"description":"Name usage suggestions found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameUsageMatch"}}}}},"x-Order":{"Order":"0130"}}},"/v2/species/match/metadata":{"get":{"tags":["Metadata"],"summary":"Retrieve metadata about the matching service","description":"Returns JSON metadata about the index, the dataset, the software versioning. Includes: index size\n counts by rank\n git commit ID\n git commit date\n git commit user\n git commit message\n git branch\n git tag\n dataset ID\n dataset title\n dataset version\n dataset release date","operationId":"metadata","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIMetadata"}}}}},"x-Order":{"Order":"0130"}}},"/v2/species/match/joins/{identifier}":{"get":{"tags":["ID lookup services"],"summary":"ID join lookup service","description":"A lookup service, largely intended for debug purposes, to enable view which external IDS are joined to a name usage in the main index.","operationId":"joinLookup","parameters":[{"name":"identifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Name usage suggestions found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalID"}}}}}}}},"/v2/species/match/id/{identifier}":{"get":{"tags":["ID lookup services"],"summary":"ID lookup service","description":"A lookup service, largely intended for debug purposes, to enable verification that an external ID has been indexed and to check if the ID has been associated with a taxon in the main index. ","operationId":"idLookup","parameters":[{"name":"identifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Name usage suggestions found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalID"}}}}}}}},"/v2/species/match/id/{datasetId}/{identifier}":{"get":{"tags":["ID lookup services"],"summary":"ID lookup service by dataset","description":"A lookup service, largely intended for debug purposes, to enable verification that an external ID for a specific dataset  (e.g. WoRMS)  has been indexed and to check if the ID has been associated with a taxon in the main index. ","operationId":"idLookupByDataset","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string"}},{"name":"identifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Name usage suggestions found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalID"}}}}}}}},"/v1/species/match":{"get":{"tags":["Searching names"],"summary":"Legacy fuzzy name match service (Version 1 - flat format)","description":"Version 1 - Warning: this method will be removed and users are advised to migrate to the version 2 API v2/species/match.\n\nFuzzy matches scientific names against the GBIF Backbone Taxonomy with the optional classification provided. If a classification is provided and strict is not set to true, the default matching will also try to match against these if no direct match is found for the name parameter alone.\n\nAdditionally, a lookup may be performed by providing the usageKey which will short-circuit the name-based matching and ONLY use the given key, either finding the concept or returning no match.","operationId":"matchNames_1","parameters":[{"name":"usageKey","in":"query","description":"The usage key to look up. When provided, all other fields are ignored.","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The scientific name to fuzzy match against. May include the authorship and year","required":false,"schema":{"type":"string"}},{"name":"authorship","in":"query","description":"The scientific name authorship to fuzzy match against.","required":false,"schema":{"type":"string"}},{"name":"rank","in":"query","description":"Filters by taxonomic rank as given in our https://api.gbif.org/v1/enumeration/basic/Rank[Rank enum].","required":false,"schema":{"type":"string","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/taxonRank"},"enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]}},{"name":"genericName","in":"query","description":"Generic part of the name to match when given as atomised parts instead of the full name parameter.","required":false,"schema":{"type":"string"}},{"name":"specificEpithet","in":"query","description":"Specific epithet to match.","required":false,"schema":{"type":"string"}},{"name":"infraspecificEpithet","in":"query","description":"Infraspecific epithet to match.","required":false,"schema":{"type":"string"}},{"name":"exclude","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"strict","in":"query","description":"If true it fuzzy matches only the given name, but never a taxon in the upper classification.","required":false,"schema":{"type":"boolean"}},{"name":"verbose","in":"query","description":"If true it shows alternative matches which were considered but then rejected.","required":false,"schema":{"type":"boolean"}},{"name":"kingdom","in":"query","description":"Kingdom to match.","schema":{"type":"string"}},{"name":"phylum","in":"query","description":"Phylum to match.","schema":{"type":"string"}},{"name":"order","in":"query","description":"Order to match.","schema":{"type":"string"}},{"name":"class","in":"query","description":"Class to match.","schema":{"type":"string"}},{"name":"family","in":"query","description":"Family to match.","schema":{"type":"string"}},{"name":"genus","in":"query","description":"Genus to match.","schema":{"type":"string"}}],"responses":{"200":{"description":"Name usage suggestions found","content":{"application/json":{"schema":{"type":"object"}}}}},"deprecated":true,"x-Order":{"Order":"0130"}}}},"components":{"schemas":{"ParsedName":{"type":"object","properties":{"key":{"type":"integer","description":"The key for this parsed name object.","format":"int32"},"scientificName":{"type":"string","description":"The exact verbatim, full scientific name as given before parsing."},"type":{"type":"string","description":"A coarse classification of names helping to deal with different syntactical name string structures.","enum":["SCIENTIFIC","VIRUS","HYBRID","INFORMAL","CULTIVAR","CANDIDATUS","OTU","DOUBTFUL","PLACEHOLDER","NO_NAME","BLACKLISTED"]},"genusOrAbove":{"type":"string","description":"The genus part of a bi/trinomial or the monomial in case of names of higher ranks."},"infraGeneric":{"type":"string","description":"The infrageneric part of a name, often given in parentheses between genus and species epithet, e.g. for a subgenus"},"specificEpithet":{"type":"string","description":"The specific epithet of the name"},"infraSpecificEpithet":{"type":"string","description":"The infraspecific part of a name."},"cultivarEpithet":{"type":"string","description":"The cultivar, cultivar group or grex part of a cultivated plant name.\n\nIf given the name should be of type CULTIVAR"},"strain":{"type":"string","description":"The strain or isolate name. Usually a capital collection code string followed by an accession number.\n\nSee [List of culture collection codes](http://www.bacterio.net/-collections.html).  If given the name should be of type STRAIN."},"notho":{"type":"string","description":"For hybrid names notho indicates which part of the name is considered a hybrid, i.e. genus, species or infraspecific epithet.","enum":["GENERIC","INFRAGENERIC","SPECIFIC","INFRASPECIFIC"]},"authorship":{"type":"string","description":"The original author of this name, e.g. basionym or recombination author."},"year":{"type":"string","description":"The year of publication as given in the authorship."},"bracketAuthorship":{"type":"string","description":"The authorship of the original name, i.e. basionym, given in brackets."},"bracketYear":{"type":"string","description":"The code relevant year of publication of the original name, i.e. basionym, given in brackets."},"sensu":{"type":"string","description":"Taxon concept references as part of the name, e.g. \u201cMSW2006\u201d for *Gorilla gorilla* (Savage, 1847) sec. MSW2005"},"parsed":{"type":"boolean","description":"A flag indicating if a name could not be parsed at all.\n\nIf false, only the scientific name, rank and potentially the name type is given."},"parsedPartially":{"type":"boolean","description":"The GBIF name parser cannot always parse the entire name.\n\nThis is often the case when taxonomic, nomenclatural or identification notes are added to the end of the name. In such cases when the name was only partially parsed (NameUsageIssue.PARTIALLY_PARSABLE) this flag should be true.\n\nIf the name was not parsed at all this will be false."},"nomStatus":{"type":"string","description":"Any nomenclatoral remarks given in this name, e.g. nom. illeg."},"remarks":{"type":"string","description":"Any further remarks found."},"canonicalName":{"type":"string","description":"The canonical name *sensu strictu* with nothing else but three name parts at most (genus, species, infraspecific).\n\nNo rank or hybrid markers and no authorship, cultivar or strain information.\n\nInfrageneric names are represented without a leading genus.\n\nUnicode characters are replaced by their matching ASCII characters."},"canonicalNameWithMarker":{"type":"string","description":"The code-compliant, canonical name with three name parts at max (genus, species, infraspecific), a rank marker for infraspecific names and cultivar or strain epithets. The canonical name can be a 1, 2 or 3 parted name, but does not include any informal notes or authorships. Notho taxa will have the hybrid marker.\n\nUnicode characters will be replaced by their matching ASCII characters."},"canonicalNameComplete":{"type":"string","description":"The code-compliant, canonical name with rank and hybrid marker, authorship and cultivar or strain name included. Informal or nomenclatoral notes, concept references, subgenus and non-terminal authorships are removed."},"rankMarker":{"type":"string","description":"The taxonomic rank of the name.","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/taxonRank"},"enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]}}},"PagingResponseVernacularName":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","description":"The offset of the results within all the search results.\n\nSubsequent pages can be retrieved by using `offset + count` as the new offset.","format":"int64"},"limit":{"minimum":0,"type":"integer","description":"The limit used.  Note the limit returned may be lower than the limit requested.","format":"int32"},"endOfRecords":{"type":"boolean","description":"True if this page of search results is the final page."},"count":{"type":"integer","description":"The total number of records returned by the search.","format":"int64"},"results":{"type":"array","description":"Search results.","items":{"$ref":"#/components/schemas/VernacularName"}}}},"VernacularName":{"required":["vernacularName"],"type":"object","properties":{"taxonKey":{"type":"integer","description":"The name usage \u201ctaxon\u201c key to which this vernacular name belongs.","format":"int32"},"vernacularName":{"type":"string","description":"A common or vernacular name."},"language":{"type":"string","description":"The language (from ISO 639-1) of the vernacular name.","enum":["abk","aar","afr","aka","sqi","amh","ara","arg","hye","asm","ava","ave","aym","aze","bam","bak","eus","bel","ben","bih","bis","bos","bre","bul","mya","cat","cha","che","zho","chu","chv","cor","cos","cre","hrv","ces","dan","div","nld","dzo","eng","epo","est","ewe","fao","fij","fin","fra","fry","ful","glg","lug","kat","deu","ell","kal","grn","guj","hat","hau","heb","her","hin","hmo","hun","isl","ido","ibo","ind","ina","ile","iku","ipk","gle","ita","jpn","jav","kan","kau","kas","kaz","khm","kik","kin","kir","kom","kon","kor","kur","kua","lao","lat","lav","lim","lin","lit","lub","ltz","mkd","mlg","msa","mal","mlt","glv","mri","mar","mah","mol","mon","nau","nav","ndo","nep","nde","sme","nob","nno","nor","nya","oci","oji","ori","orm","oss","pli","pan","fas","pol","por","pus","que","roh","ron","run","rus","smo","sag","san","srd","gla","srp","sna","iii","snd","sin","slk","slv","som","nbl","sot","spa","sun","swa","ssw","swe","tgl","tah","tgk","tam","tat","tel","tha","bod","tir","ton","tso","tsn","tur","tuk","twi","uig","ukr","urd","uzb","ven","vie","vol","wln","cym","wol","xho","yid","yor","zha","zul",""]},"lifeStage":{"type":"string","description":"The age class or life stage of the species for which the vernacular name applies.\n\nFor example, a juvenile *Anser anser* is called a \u201cgosling\u201c.","enum":["ZYGOTE","EMRYO","LARVA","JUVENILE","ADULT","SPOROPHYTE","SPORE","GAMETOPHYTE","GAMETE","PUPA"]},"sex":{"type":"string","description":"The sex of the biological individual(s) represented in the Occurrence.\n\nFor definitions, see the [GBIF sex vocabulary](http://rs.gbif.org/vocabulary/gbif/sex)","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/sex"},"enum":["NONE","MALE","FEMALE","HERMAPHRODITE"]},"country":{"type":"string","description":"The country or area in which the vernacular name is used.","externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/country"},"enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","BN","BG","BF","BI","KH","CM","CA","CV","KY","CF","TD","CL","CN","CX","CC","CO","KM","CD","CG","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","SS","ES","LK","SD","SR","SJ","SZ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW","AA","XK","XZ","ZZ"]},"area":{"type":"string","description":"The area where the vernacular name is used."},"source":{"type":"string","description":"Bibliographic citation referencing a source where the vernacular name refers to the cited species."},"sourceTaxonKey":{"type":"integer","description":"The name usage key of the taxon in the checklist including this vernacular name.","format":"int32"},"preferred":{"type":"boolean","description":"This term is true if the source citing the use of this vernacular name indicates the usage has some preference or specific standing over other possible vernacular names used for the species."},"plural":{"type":"boolean","description":"True if the vernacular name refers to a plural form of the name."}},"description":"Search results."},"VerbatimNameUsage":{"required":["extensions","key"],"type":"object","properties":{"key":{"type":"integer","description":"The name usage key that uniquely identifies this name usage.","format":"int32"},"extensions":{"type":"object","additionalProperties":{"type":"array","description":"Extension records, holding all verbatim extension terms.\n\nA map keyed by extension term names, containing lists of property terms + values.","items":{"type":"object","additionalProperties":{"type":"string","description":"Extension records, holding all verbatim extension terms.\n\nA map keyed by extension term names, containing lists of property terms + values."},"description":"Extension records, holding all verbatim extension terms.\n\nA map keyed by extension term names, containing lists of property terms + values."}},"description":"Extension records, holding all verbatim extension terms.\n\nA map keyed by extension term names, containing lists of property terms + values."},"lastCrawled":{"type":"string","description":"The date this record was last crawled (downloaded from the source) during Checklistbank indexing.","format":"date-time"}}},"PagingResponseTypeSpecimen":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","description":"The offset of the results within all the search results.\n\nSubsequent pages can be retrieved by using `offset + count` as the new offset.","format":"int64"},"limit":{"minimum":0,"type":"integer","description":"The limit used.  Note the limit returned may be lower than the limit requested.","format":"int32"},"endOfRecords":{"type":"boolean","description":"True if this page of search results is the final page."},"count":{"type":"integer","description":"The total number of records returned by the search.","format":"int64"},"results":{"type":"array","description":"Search results.","items":{"$ref":"#/components/schemas/TypeSpecimen"}}}},"TypeSpecimen":{"type":"object","properties":{"taxonKey":{"type":"integer","description":"The name usage \u201ctaxon\u201c to which this type specimen belongs.","format":"int32"},"source":{"type":"string","description":"Bibliographic citation referencing a source for the type specimen."},"sourceTaxonKey":{"type":"integer","description":"The name usage key of the taxon in the checklist including this type specimen.","format":"int32"},"typeDesignationType":{"type":"string","description":"The reason why this specimen is designated as a type.","enum":["ORIGINAL_DESIGNATION","PRESENT_DESIGNATION","SUBSEQUENT_DESIGNATION","MONOTYPY","SUBSEQUENT_MONOTYPY","TAUTONYMY","ABSOLUTE_TAUTONYMY","LINNAEAN_TAUTONYMY","RULING_BY_COMMISSION"]},"typeDesignatedBy":{"type":"string","description":"The citation of the publication where the type designation is found."},"scientificName":{"type":"string","description":"The scientific name originally used for the specimen, species or genus.\n\nNot necessarily the same as the currently recognized name.  For type species this is the species name."},"taxonRank":{"type":"string","description":"The rank of the taxon bearing the scientific name.","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/taxonRank"},"enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]},"typeStatus":{"type":"string","description":"The type status of the specimen, not used for type species or type genera.","deprecated":true,"enum":["TYPE","TYPE_SPECIES","TYPE_GENUS","ALLOLECTOTYPE","ALLONEOTYPE","ALLOTYPE","COTYPE","EPITYPE","EXEPITYPE","EXHOLOTYPE","EXISOTYPE","EXLECTOTYPE","EXNEOTYPE","EXPARATYPE","EXSYNTYPE","EXTYPE","HAPANTOTYPE","HOLOTYPE","HYPOTYPE","ICONOTYPE","ISOLECTOTYPE","ISONEOTYPE","ISOPARATYPE","ISOSYNTYPE","ISOTYPE","LECTOTYPE","NEOTYPE","NOTATYPE","ORIGINALMATERIAL","PARALECTOTYPE","PARANEOTYPE","PARATYPE","PLASTOHOLOTYPE","PLASTOISOTYPE","PLASTOLECTOTYPE","PLASTONEOTYPE","PLASTOPARATYPE","PLASTOSYNTYPE","PLASTOTYPE","PLESIOTYPE","SECONDARYTYPE","SUPPLEMENTARYTYPE","SYNTYPE","TOPOTYPE"]},"citation":{"type":"string","description":"A text string citing the described speciemn.","deprecated":true},"verbatimLabel":{"type":"string","description":"The full, verbatim text from the specimen label.","deprecated":true},"locality":{"type":"string","description":"The locality where the type specimen was collected, the type locality.","deprecated":true},"recordedBy":{"type":"string","description":"The primary collector or observer, especially one who applied a personal identifier (recordNumber), should be listed first.","deprecated":true},"verbatimEventDate":{"type":"string","description":"The date when the specimen was collected.","deprecated":true},"verbatimLongitude":{"type":"string","description":"The geographic longitude.","deprecated":true},"verbatimLatitude":{"type":"string","description":"The geographic latitude.","deprecated":true},"occurrenceId":{"type":"string","description":"An identifier for the specimen, preferable a resolvable, globally-unique identifier.","deprecated":true},"institutionCode":{"type":"string","description":"The name or acronym in use by the institution having custody of the type specimen or information referred to in the record.","deprecated":true},"collectionCode":{"type":"string","description":"The name, acronym, code or initialism identifying the collection or dataset from which the record was derived.","deprecated":true},"catalogNumber":{"type":"string","description":"An identifier, preferable unique, for the record within the dataset or collection.","deprecated":true}},"description":"Search results."},"TableOfContents":{"type":"object","properties":{"toc":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"array","description":"A table of contents by language, section and description.","items":{"type":"integer","description":"A table of contents by language, section and description.","format":"int32"}},"description":"A table of contents by language, section and description."},"description":"A table of contents by language, section and description."}}},"NameUsage":{"required":["datasetKey","issues","key","origin","scientificName"],"type":"object","properties":{"key":{"type":"integer","description":"The name usage key that uniquely identifies this name usage.","format":"int32"},"nubKey":{"type":"integer","description":"The taxon key of the matching backbone name usage.\n\nIf this is equal to `key`, this name usage is a backbone name usage.","format":"int32"},"nameKey":{"type":"integer","description":"The key for retrieving a parsed name object.\n\n*You are more likely to need the `key` or `nubKey` properties*","format":"int32"},"taxonID":{"type":"string","description":"The original taxonID of the name usage as found in the source.\n\nFor backbone taxa and name usages with an origin different to SOURCE this is null."},"sourceTaxonKey":{"type":"integer","description":"The key of the name usage from which this backbone taxon derives.\n\nFor backbone taxa the source taxon key refers to the original name usage that was used during backbone building and is the primary reason that this taxon exists in the backbone.\n\nAll backbone name usages are built from several underlying checklist usages, but these are sorted by priority and the usage key for the highest priority one becomes the sourceTaxonKey for a backbone usage.\n\nSome backbone usages do not have any source record at all; for example if there is a subspecies found, but no matching parent species, the missing species will be created nevertheless and has no primary source.","format":"int32"},"kingdom":{"type":"string","description":"Kingdom."},"phylum":{"type":"string","description":"Phylum."},"order":{"type":"string","description":"Order."},"family":{"type":"string","description":"Family."},"genus":{"type":"string","description":"Genus."},"subgenus":{"type":"string","description":"Subgenus."},"species":{"type":"string","description":"Species."},"kingdomKey":{"type":"integer","description":"Name usage key of the kingdom.","format":"int32"},"phylumKey":{"type":"integer","description":"Name usage key of the phylum.","format":"int32"},"classKey":{"type":"integer","description":"Name usage key of the class.","format":"int32"},"orderKey":{"type":"integer","description":"Name usage key of the order.","format":"int32"},"familyKey":{"type":"integer","description":"Name usage key of the family.","format":"int32"},"genusKey":{"type":"integer","description":"Name usage key of the genus.","format":"int32"},"subgenusKey":{"type":"integer","description":"Name usage key of the subgenus.","format":"int32"},"speciesKey":{"type":"integer","description":"Name usage key of the species.","format":"int32"},"datasetKey":{"type":"string","description":"The checklist that \u201chosts\u201d this name usage.\n\nFor a backbone name usage, this will be `d7dddbf4-2cf0-4f39-9b2a-bb099caae36c`.","format":"uuid"},"constituentKey":{"type":"string","description":"The optional sub-dataset key for this usage.","format":"uuid"},"parentKey":{"type":"integer","description":"The name usage key of the immediate parent.  Null for the highest taxonomic level.","format":"int32"},"parent":{"type":"string","description":"The scientific name of the parent."},"proParteKey":{"type":"integer","description":"The primary name usage key for a *pro parte* synonym.\n\nSynonyms with multiple accepted names are grouped by a single, primary name usage key.","format":"int32"},"acceptedKey":{"type":"integer","description":"The name usage key of the accepted name.","format":"int32"},"accepted":{"type":"string","description":"The scientific name of the accepted name."},"basionymKey":{"type":"integer","description":"The name usage key of the basionym.","format":"int32"},"basionym":{"type":"string","description":"The scientific name of the basionym."},"scientificName":{"type":"string","description":"The scientific name, with date and authorship information if available.\n\nExamples: *Coleoptera* (order), *Vespertilionidae* (family), *Manis* (genus), *Ctenomys sociabilis* (genus + specificEpithet), *Ambystoma tigrinum diaboli* (zoology, genus + specific name + infraspecific name) *Quercus agrifolia* var. *oxyadenia* (Torr.) (botany, genus + specific epithet + infraspecific epithet + authorship)"},"canonicalName":{"type":"string","description":"The canonical name; the name without authorship or references."},"vernacularName":{"type":"string","description":"A common or vernacular name for this usage."},"authorship":{"type":"string","description":"The authorship for the scientific name."},"nameType":{"type":"string","description":"The type of name string classified by Checklistbank.","enum":["SCIENTIFIC","VIRUS","HYBRID","INFORMAL","CULTIVAR","CANDIDATUS","OTU","DOUBTFUL","PLACEHOLDER","NO_NAME","BLACKLISTED"]},"rank":{"type":"string","description":"The rank for this usage.","externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/taxonRank"},"enum":["DOMAIN","SUPERKINGDOM","KINGDOM","SUBKINGDOM","INFRAKINGDOM","SUPERPHYLUM","PHYLUM","SUBPHYLUM","INFRAPHYLUM","SUPERCLASS","CLASS","SUBCLASS","INFRACLASS","PARVCLASS","SUPERLEGION","LEGION","SUBLEGION","INFRALEGION","SUPERCOHORT","COHORT","SUBCOHORT","INFRACOHORT","MAGNORDER","SUPERORDER","GRANDORDER","ORDER","SUBORDER","INFRAORDER","PARVORDER","SUPERFAMILY","FAMILY","SUBFAMILY","INFRAFAMILY","SUPERTRIBE","TRIBE","SUBTRIBE","INFRATRIBE","SUPRAGENERIC_NAME","GENUS","SUBGENUS","INFRAGENUS","SECTION","SUBSECTION","SERIES","SUBSERIES","INFRAGENERIC_NAME","SPECIES_AGGREGATE","SPECIES","INFRASPECIFIC_NAME","GREX","SUBSPECIES","CULTIVAR_GROUP","CONVARIETY","INFRASUBSPECIFIC_NAME","PROLES","RACE","NATIO","ABERRATION","MORPH","VARIETY","SUBVARIETY","FORM","SUBFORM","PATHOVAR","BIOVAR","CHEMOVAR","MORPHOVAR","PHAGOVAR","SEROVAR","CHEMOFORM","FORMA_SPECIALIS","CULTIVAR","STRAIN","OTHER","UNRANKED"]},"origin":{"type":"string","description":"The name usage origin.\n\nThe origin of this name usage record, the reason it exists.\n\nIn most cases this is because the record existed explicitly in the checklist sources, but some usages are created *de novo* because the exist implicitly in the data.","enum":["SOURCE","DENORMED_CLASSIFICATION","VERBATIM_PARENT","VERBATIM_ACCEPTED","VERBATIM_BASIONYM","PROPARTE","AUTONYM","IMPLICIT_NAME","MISSING_ACCEPTED","BASIONYM_PLACEHOLDER","EX_AUTHOR_SYNONYM","OTHER"]},"taxonomicStatus":{"type":"string","description":"The taxonomic status of the name usage.\n\nCan be null, but for all synonyms with an accepted name usage it is guaranteed to exist.","enum":["ACCEPTED","DOUBTFUL","SYNONYM","HETEROTYPIC_SYNONYM","HOMOTYPIC_SYNONYM","PROPARTE_SYNONYM","MISAPPLIED"]},"nomenclaturalStatus":{"uniqueItems":true,"type":"array","description":"The nomenclatural statuses of this name usage.","items":{"type":"string","description":"The nomenclatural statuses of this name usage.","enum":["LEGITIMATE","VALIDLY_PUBLISHED","NEW_COMBINATION","REPLACEMENT","CONSERVED","PROTECTED","CORRECTED","ORIGINAL_COMBINATION","NEW_SPECIES","NEW_GENUS","ALTERNATIVE","OBSCURE","CONSERVED_PROPOSED","PROVISIONAL","SUBNUDUM","REJECTED_PROPOSED","REJECTED_OUTRIGHT_PROPOSED","DOUBTFUL","AMBIGUOUS","CONFUSED","FORGOTTEN","ABORTED","ORTHOGRAPHIC_VARIANT","SUPERFLUOUS","NUDUM","NULL_NAME","SUPPRESSED","REJECTED_OUTRIGHT","REJECTED","ILLEGITIMATE","INVALID","DENIED"]}},"remarks":{"type":"string","description":"Remarks on the name usage."},"publishedIn":{"type":"string","description":"Original publication for this name usage."},"accordingTo":{"type":"string","description":"The taxon concept reference.\n\nThis is usually a reference to some publication or an author and year.\n\nThe Darwin Core `taxonAccordingTo` reference is usually appended to the scientific name to further qualify the concept with \u201csensu\u201d or \u201csec.\u201d being used for concatenation; for example \u201c_Acer nigrum_ sec. Gleason Cronquist 1991\u201d.\n\nIn the case of backbone taxa, this refers to the primary checklist in which the name was found."},"numDescendants":{"type":"integer","description":"A total count of all accepted taxonomic elements under this usage.","format":"int32"},"references":{"type":"string","description":"A URI link or reference to the source of the record, the record's \u201chomepage\u201d.","format":"uri"},"modified":{"type":"string","description":"The interpreted dc:modified from the verbatim source data, ideally indicating when a record was last modified in the source.","format":"date-time"},"deleted":{"type":"string","description":"The date this record was deleted.\n\n*Only backbone name usages are soft-deleted.*","format":"date-time"},"lastCrawled":{"type":"string","description":"The date this record was last crawled (downloaded from the source) during Checklistbank indexing.","format":"date-time"},"lastInterpreted":{"type":"string","description":"The date this record was last interpreted during indexing.  This includes matching to the backbone.","format":"date-time"},"issues":{"uniqueItems":true,"type":"array","description":"Data quality issues found during Checklistbank interpretation.","items":{"type":"string","description":"Data quality issues found during Checklistbank interpretation.","enum":["PARENT_NAME_USAGE_ID_INVALID","ACCEPTED_NAME_USAGE_ID_INVALID","ORIGINAL_NAME_USAGE_ID_INVALID","ACCEPTED_NAME_MISSING","RANK_INVALID","NOMENCLATURAL_STATUS_INVALID","TAXONOMIC_STATUS_INVALID","SCIENTIFIC_NAME_ASSEMBLED","CHAINED_SYNOYM","BASIONYM_AUTHOR_MISMATCH","TAXONOMIC_STATUS_MISMATCH","PARENT_CYCLE","CLASSIFICATION_RANK_ORDER_INVALID","CLASSIFICATION_NOT_APPLIED","VERNACULAR_NAME_INVALID","DESCRIPTION_INVALID","DISTRIBUTION_INVALID","SPECIES_PROFILE_INVALID","MULTIMEDIA_INVALID","BIB_REFERENCE_INVALID","ALT_IDENTIFIER_INVALID","BACKBONE_MATCH_NONE","BACKBONE_MATCH_FUZZY","BACKBONE_MATCH_AGGREGATE","ACCEPTED_NAME_NOT_UNIQUE","PARENT_NAME_NOT_UNIQUE","ORIGINAL_NAME_NOT_UNIQUE","RELATIONSHIP_MISSING","ORIGINAL_NAME_DERIVED","CONFLICTING_BASIONYM_COMBINATION","NO_SPECIES","NAME_PARENT_MISMATCH","ORTHOGRAPHIC_VARIANT","HOMONYM","PUBLISHED_BEFORE_GENUS","UNPARSABLE","PARTIALLY_PARSABLE"]}},"class":{"type":"string","description":"Class."}},"description":"Search results."},"PagingResponseNameUsage":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","description":"The offset of the results within all the search results.\n\nSubsequent pages can be retrieved by using `offset + count` as the new offset.","format":"int64"},"limit":{"minimum":0,"type":"integer","description":"The limit used.  Note the limit returned may be lower than the limit requested.","format":"int32"},"endOfRecords":{"type":"boolean","description":"True if this page of search results is the final page."},"count":{"type":"integer","description":"The total number of records returned by the search.","format":"int64"},"results":{"type":"array","description":"Search results.","items":{"$ref":"#/components/schemas/NameUsage"}}}},"PagingResponseSpeciesProfile":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","description":"The offset of the results within all the search results.\n\nSubsequent pages can be retrieved by using `offset + count` as the new offset.","format":"int64"},"limit":{"minimum":0,"type":"integer","description":"The limit used.  Note the limit returned may be lower than the limit requested.","format":"int32"},"endOfRecords":{"type":"boolean","description":"True if this page of search results is the final page."},"count":{"type":"integer","description":"The total number of records returned by the search.","format":"int64"},"results":{"type":"array","description":"Search results.","items":{"$ref":"#/components/schemas/SpeciesProfile"}}}},"SpeciesProfile":{"type":"object","properties":{"taxonKey":{"type":"integer","description":"The name usage \u201ctaxon\u201c key to which this species profile belongs.","format":"int32"},"livingPeriod":{"type":"string","description":"The geological time a currently extinct organism is known to have lived."},"lifeForm":{"type":"string","description":"A term describing the growth/lifeform of an organism.\n\nSee [Life Form vocabulary](https://rs.gbif.org/vocabulary/gbif/life_form)."},"habitat":{"type":"string","description":"Comma-separated list of major habitat classifications as defined by the IUCN in which a species is known to exist.\n\nSee [Habitats vocabulary](https://rs.gbif.org/vocabulary/iucn/habitat/)."},"marine":{"type":"boolean","description":"A Boolean flag indicating whether the taxon is a marine organism, i.e. can be found in/above sea water."},"freshwater":{"type":"boolean","description":"Flag indicating whether the taxon is a freshwater organism."},"terrestrial":{"type":"boolean","description":"A Boolean flag indicating the taxon is a terrestrial organism, i.e. occurs on land as opposed to the sea."},"extinct":{"type":"boolean","description":"Flag indicating an extinct organism."},"hybrid":{"type":"boolean","description":"Flag indicating a hybrid organism."},"ageInDays":{"type":"integer","description":"Maximum observed age of an organism given as number of days.","format":"int32"},"sizeInMillimeter":{"type":"integer","description":"Maximum observed size of an organism in millimetres.\n\nCan be either height, length or width, whichever is greater.","format":"int32"},"massInGram":{"type":"integer","description":"Maximum observed weight of an organism in grams.","format":"int32"},"source":{"type":"string","description":"Bibliographic citation referencing a source for the species profile."},"sourceTaxonKey":{"type":"integer","description":"The name usage key of the taxon in the checklist including this species profile.","format":"int32"}},"description":"Search results."},"PagingResponseReference":{"type":"object","properties":{"offset":{"minimum":0,"type":"integer","description":"The offset of the results within all the search results.\n\nSubsequent pages can be retrieved by using `offset + count` as the new offset.","format":"int64"},"limit":{"minimum":0,"type":"integer","description":"The limit used.  Note the limit returned may be lower than the limit requested.","format":"int32"},"endOfRecords":{"type":"boolean","description":"True if this page of search results is the final page."},"count":{"type":"integer","description":"The total number of records returned by the search.","format":"int64"},"results":{"type":"array","description":"Search results.","items":{"$ref":"#/components/schemas/Reference"}}}},"Reference":{"required":["citation"],"type":"object","properties":{"taxonKey":{"type":"integer","description":"The name usage \u201ctaxon\u201c key to which this species profile belongs.","format":"int32"},"citation":{"type":"string","description":"A text string referring to an un-parsed bibliographic citation."},"link":{"type":"string","description":"The reference link."},"doi":{"type":"string","description":"The pure DOI for the publication without potential http resolver or URI prefix.","example":"10.1038/ng0609-637"},"type":{"type":"st
[...]
