{"openapi":"3.1.0","info":{"title":"Occurrence API","description":"This API works against the GBIF Occurrence Store, which handles occurrence records and makes them available through the web service and download files.\nInternally we use a [Java web service client](https://github.com/gbif/occurrence/tree/master/occurrence-ws-client) for the consumption of these HTTP-based, RESTful web services.\n","termsOfService":"https://www.gbif.org/terms","version":"v1"},"servers":[{"url":"https://api.gbif.org/v1/","description":"Production"},{"url":"https://api.gbif-uat.org/v1/","description":"User testing"}],"tags":[{"name":"Occurrences","description":"This API provides services related to the retrieval of single occurrence records.","x-Order":{"Order":"0100"}},{"name":"Searching occurrences","description":"This API provides services for searching occurrence records that have been indexed by GBIF.\n\nIn order to retrieve all results for a given search filter you need to issue individual requests for each page, which is limited to a maximum size of 300 records per page. Note that for technical reasons we also have a hard limit for any query of 100,000 records. You will get an error if the offset + limit exceeds 100,000. To retrieve all records beyond 100,000 you should use our asynchronous download service (below) instead.","x-Order":{"Order":"0200"}},{"name":"Occurrence downloads","description":"**For a guide to making downloads through the API, see the [guide to API downloads](/en/data-use/api-downloads).** *The documentation here is automatically generated from the Java code.  It is always up-to-date, but the structure for the main download request method is complex.*\n\nThis API provides services to request bulk downloads of occurrence records and retrieve information about those downloads.\n\nOccurrence downloads are created asynchronously \u2014 the user requests a download and, once complete, is sent an email with a link to the resulting file.\n\nIt is necessary to register as a user at [GBIF.org](https://www.gbif.org/) to create a download request, and use HTTP authentication using the username (not the email) and password.\n\n### Occurrence Download Predicates<a id=\"predicates\"></a>\n\nFor the API reference for download predicates expand the \u201cSchema\u201d \u2192 `predicate` section of the request body schema on the [creation API call](#Occurrence%20downloads/requestDownload) (the first one after this text).\n\n### Occurrence Download Limits<a id=\"limits\"></a>\n\nOccurrence downloads demand significant computational resources, and are monitored and limited according to the GBIF platform load. In order to avoid that downloads requested by a single user utilize most of the resources two rules have been set:\n\n1. Download complexity limits:\n   * A download predicate may contain a maximum of 101,000 items (taxon keys, kingdom keys, phylum keys,      catalogue numbers, occurrence ids and so on).\n   * A download predicate may contain a maximum of 10,000 points in any \u201cwithin\u201d predicate geometries.\n2. Limits on incomplete (preparing, running) downloads:\n   * If the total number of incomplete downloads is fewer than 100, any single user can have no more than 3      incomplete downloads.\n   * If the total number of downloads is fewer than 1000 any single user may only have 1 download.\n\nThe number of user downloads currently in progress can be seen on the [System Health page](https://www.gbif.org/system-health). Your own downloads can be seen on your [My Downloads](https://www.gbif.org/user/download) page.","x-Order":{"Order":"0300"}},{"name":"Occurrence download formats","description":"This API lists the fields present in the various download formats, their data types and their term identifiers.","x-Order":{"Order":"0400"}},{"name":"Occurrence download statistics","description":"This API provides statistics about occurrence downloads.","x-Order":{"Order":"0500"}},{"name":"Occurrence metrics","description":"This API provides services to retrieve various counts and metrics provided for occurrence records. The metrics that are currently supported are listed by the API itself, see [the schema method](#operation/getOccurrenceCountSchema) for details.","x-Order":{"Order":"0600"}},{"name":"Occurrence inventories","description":"This API provides services that list all distinct values together with their occurrence count for a given occurrence property. Only a few properties are supported, each with its own service to call.","x-Order":{"Order":"0700"}},{"name":"GADM regions","description":"The [GADM Global Administrative Area Database](https://gadm.org) is a high-resolution database of administrative areas of countries.\n\nWithin GBIF, it is used to index occurrence data by administrative region.\n\nThis API provides services to search and browse regions and sub-regions down to the third level sub-region.","x-Order":{"Order":"0800"}}],"paths":{"/occurrence/search":{"get":{"tags":["Searching occurrences"],"summary":"Occurrence search","description":"Full search across all occurrences.","operationId":"searchOccurrence","parameters":[{"name":"acceptedTaxonKey","in":"query","description":"A taxon key from the GBIF backbone or the specified checklist (see checklistKey parameter). Only synonym taxa are included in the search, so a search for Aves with acceptedTaxonKey=212 (i.e. [/occurrence/search?taxonKey=212](https://api.gbif.org/v1/occurrence/search?acceptedTaxonKey=212)) will match occurrences identified as birds, but not any known family, genus or species of bird.*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":2476674},{"name":"associatedSequences","in":"query","description":"Identifier (publication, global unique identifier, URI) of genetic sequence information associated with the material entity.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"http://www.ncbi.nlm.nih.gov/nuccore/U34853.1"},{"name":"basisOfRecord","in":"query","description":"Basis of record, as defined in our BasisOfRecord vocabulary.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","description":"The values of the Darwin Core term Basis of Record which can apply to occurrences.\n\nSee GBIF's [Darwin Core Type Vocabulary](https://rs.gbif.org/vocabulary/dwc/basis_of_record.xml) for definitions.","enum":["PRESERVED_SPECIMEN","FOSSIL_SPECIMEN","LIVING_SPECIMEN","OBSERVATION","HUMAN_OBSERVATION","MACHINE_OBSERVATION","MATERIAL_SAMPLE","LITERATURE","MATERIAL_CITATION","OCCURRENCE","UNKNOWN"],"externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/basic/BasisOfRecord"},"uniqueItems":true},"uniqueItems":true},"example":"PRESERVED_SPECIMEN"},{"name":"bed","in":"query","description":"The full name of the lithostratigraphic bed from which the material entity was collected.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Harlem coal"},{"name":"catalogNumber","in":"query","description":"An identifier of any form assigned by the source within a physical collection or digital dataset for the record which may not be unique, but should be fairly unique in combination with the institution and collection code.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"K001275042"},{"name":"classKey","in":"query","description":"Class classification key.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":212},{"name":"checklistKey","in":"query","description":"*Experimental.* The checklist key. This determines which taxonomy will be used for the search in conjunction with other taxon keys or scientificName. If this is not specified, the GBIF backbone taxonomy will be used.","schema":{"type":"string"},"example":"2d59e5db-57ad-41ff-97d6-11f5fb264527"},{"name":"collectionCode","in":"query","description":"An identifier of any form assigned by the source to identify the physical collection or digital dataset uniquely within the context of an institution.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"F"},{"name":"collectionKey","in":"query","description":"A key (UUID) for a collection registered in the [Global Registry of Scientific Collections](https://www.gbif.org/grscicoll).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"dceb8d52-094c-4c2c-8960-75e0097c6861"},{"name":"continent","in":"query","description":"Continent, as defined in our Continent vocabulary.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","description":"The continent, based on a 7 continent model described on [Wikipedia](https://en.wikipedia.org/wiki/Continent#Number_of_continents) and the [World Geographical Scheme for Recording Plant Distributions (WGSRPD)](https://www.tdwg.org/standards/109).\n\nIn particular this splits the Americas into North and South America with North America including the Caribbean (except Trinidad and Tobago) and reaching down and including Panama.\n\nSee the [GBIF Continents](https://github.com/gbif/continents/) for the exact divisions.\n\n*This is a geographical division.  See `GBIFRegion` for GBIF's political divisions.*","enum":["AFRICA","ANTARCTICA","ASIA","OCEANIA","EUROPE","NORTH_AMERICA","SOUTH_AMERICA"],"externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/basic/Continent"},"uniqueItems":true},"uniqueItems":true},"example":"EUROPE"},{"name":"coordinateUncertaintyInMeters","in":"query","description":"The horizontal distance (in metres) from the given decimalLatitude and decimalLongitude describing the smallest circle containing the whole of the Location.\n\n*Supports range queries.*","schema":{"$ref":"#/components/schemas/Range"},"example":"0,500"},{"name":"country","in":"query","description":"The 2-letter country code (as per ISO-3166-1) of the country in which the occurrence was recorded.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","BN","BG","BF","BI","KH","CM","CA","CV","KY","CF","TD","CL","CN","CX","CC","CO","KM","CD","CG","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","SS","ES","LK","SD","SR","SJ","SZ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW","AA","XK","XZ","ZZ"],"externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/country"},"uniqueItems":true},"uniqueItems":true},"example":"AF"},{"name":"crawlId","in":"query","description":"Crawl attempt that harvested this record.\n\n*Parameter may be repeated.*","schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":1},{"name":"datasetId","in":"query","description":"The ID of the dataset.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"https://doi.org/10.1594/PANGAEA.315492"},{"name":"datasetKey","in":"query","description":"The occurrence dataset key (a UUID).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"13b70480-bd69-11dd-b15f-b8a03c50a862"},{"name":"datasetName","in":"query","description":"The exact name of the dataset.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"day","in":"query","description":"The day of the month, a number between 1 and 31.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":15},{"name":"decimalLatitude","in":"query","description":"Latitude in decimal degrees between -90\u00b0 and 90\u00b0 based on WGS 84.\n\n*Supports range queries.*","schema":{"$ref":"#/components/schemas/Range"},"example":"40.5,45"},{"name":"degreeOfEstablishment","in":"query","description":"The degree to which an organism survives, reproduces and expands its range at the given place and time, as defined in the [GBIF DegreeOfEstablishment vocabulary](https://registry.gbif.org/vocabulary/DegreeOfEstablishment/concepts).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Invasive"},{"name":"decimalLongitude","in":"query","description":"Longitude in decimals between -180 and 180 based on WGS 84.\n\n*Supports range queries.*","schema":{"$ref":"#/components/schemas/Range"},"example":"-120,-95.5"},{"name":"depth","in":"query","description":"Depth in metres relative to altitude. For example 10 metres below a lake surface with given altitude.\n\n*Parameter may be repeated or a range.*","schema":{"$ref":"#/components/schemas/Range"},"example":"10,20"},{"name":"distanceFromCentroidInMeters","in":"query","description":"The horizontal distance (in metres) of the occurrence from the nearest centroid known to be used in automated georeferencing procedures, if that distance is 5000m or less.  Occurrences (especially specimens) near a country centroid may have a poor-quality georeference, especially if coordinateUncertaintyInMeters is blank or large.\n\n*Supports range queries.*","schema":{"$ref":"#/components/schemas/Range"},"example":"0,500"},{"name":"dwcaExtension","in":"query","description":"A known Darwin Core Archive extension RowType.  Limits the search to occurrences which have this extension, although they will not necessarily have any useful data recorded using the extension.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"http://rs.tdwg.org/ac/terms/Multimedia"},{"name":"earliestEonOrLowestEonothem","in":"query","description":"The full name of the earliest possible geochronologic era or lowest chronostratigraphic erathem attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Mesozoic"},{"name":"earliestEraOrLowestErathem","in":"query","description":"The full name of the latest possible geochronologic eon or highest chrono-stratigraphic eonothem or the informal name (\"Precambrian\") attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Proterozoic"},{"name":"earliestPeriodOrLowestSystem","in":"query","description":"The full name of the earliest possible geochronologic period or lowest chronostratigraphic system attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Neogene"},{"name":"earliestEpochOrLowestSeries","in":"query","description":"The full name of the earliest possible geochronologic epoch or lowest chronostratigraphic series attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Holocene"},{"name":"earliestAgeOrLowestStage","in":"query","description":"The full name of the earliest possible geochronologic age or lowest chronostratigraphic stage attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Skullrockian"},{"name":"elevation","in":"query","description":"Elevation (altitude) in metres above sea level.\n\n*Parameter may be repeated or a range.*","schema":{"$ref":"#/components/schemas/Range"},"example":"1000,1250"},{"name":"endDayOfYear","in":"query","description":"The latest integer day of the year on which the event occurred.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":6},{"name":"establishmentMeans","in":"query","description":"Whether an organism or organisms have been introduced to a given place and time through the direct or indirect activity of modern humans, as defined in the [GBIF EstablishmentMeans vocabulary](https://registry.gbif.org/vocabulary/EstablishmentMeans/concepts).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Native"},{"name":"eventDate","in":"query","description":"Occurrence date in ISO 8601 format: yyyy, yyyy-MM or yyyy-MM-dd.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"date-time","uniqueItems":true},"uniqueItems":true},"example":"2000,2001-06-30"},{"name":"eventId","in":"query","description":"An identifier for the information associated with a sampling event.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"A 123"},{"name":"familyKey","in":"query","description":"Family classification key.","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":2405},{"name":"fieldNumber","in":"query","description":"An identifier given to the event in the field. Often serves as a link between field notes and the event.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"RV Sol 87-03-08"},{"name":"formation","in":"query","description":"The full name of the lithostratigraphic formation from which the material entity was collected.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Notch Peak Formation"},{"name":"gadmGid","in":"query","description":"A GADM geographic identifier at any level, for example AGO, AGO.1_1, AGO.1.1_1 or AGO.1.1.1_1\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"AGO.1_1"},{"name":"gadmLevel0Gid","in":"query","description":"A GADM geographic identifier at the zero level, for example AGO.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"AGO"},{"name":"gadmLevel1Gid","in":"query","description":"A GADM geographic identifier at the first level, for example AGO.1_1.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"AGO.1_1"},{"name":"gadmLevel2Gid","in":"query","description":"A GADM geographic identifier at the second level, for example AFG.1.1_1.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"AFG.1.1_1"},{"name":"gadmLevel3Gid","in":"query","description":"A GADM geographic identifier at the third level, for example AFG.1.1.1_1.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"AFG.1.1.1_1"},{"name":"gbifId","in":"query","description":"The unique GBIF key for a single occurrence.","schema":{"type":"integer","format":"int64"},"example":2005380410},{"name":"gbifRegion","in":"query","description":"Gbif region based on country code.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","description":"An enumeration for all GBIF Regions. These are based on [IPBES regions](https://www.nature.com/articles/sdata20167/figures/1).\n\n*This is a political division,* part of GBIF's governance structure.","enum":["AFRICA","ASIA","EUROPE","NORTH_AMERICA","OCEANIA","LATIN_AMERICA","ANTARCTICA"],"uniqueItems":true},"uniqueItems":true},"example":"AFRICA"},{"name":"genusKey","in":"query","description":"Genus classification key.","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":2877951},{"name":"geoDistance","in":"query","description":"Filters to match occurrence records with coordinate values within a specified distance of a coordinate.\n\nDistance may be specified in kilometres (km) or metres (m).","schema":{"type":"string"},"example":"90,100,5km"},{"name":"georeferencedBy","in":"query","description":"Name of a person, group, or organization who determined the georeference (spatial representation) for the location.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Brad Millen"},{"name":"geometry","in":"query","description":"Searches for occurrences inside a polygon described in Well Known Text (WKT) format. Only `POLYGON` and `MULTIPOLYGON` are accepted WKT types.\n\nFor example, a shape written as `POLYGON ((30.1 10.1, 40 40, 20 40, 10 20, 30.1 10.1))` would be queried as is.\n\n_Polygons must have *anticlockwise* ordering of points._ (A clockwise polygon represents the opposite area: the Earth's surface with a 'hole' in it. Such queries are not supported.)\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"POLYGON ((30.1 10.1, 40 40, 20 40, 10 20, 30.1 10.1))"},{"name":"group","in":"query","description":"The full name of the lithostratigraphic group from which the material entity was collected.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Bathurst"},{"name":"hasCoordinate","in":"query","description":"Limits searches to occurrence records which contain a value in both latitude and longitude (i.e. `hasCoordinate=true` limits to occurrence records with coordinate values and `hasCoordinate=false` limits to occurrence records without coordinate values).","schema":{"type":"boolean"},"example":true},{"name":"higherGeography","in":"query","description":"Geographic name less specific than the information captured in the locality term.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Argentina"},{"name":"highestBiostratigraphicZone","in":"query","description":"The full name of the highest possible geological biostratigraphic zone of the stratigraphic horizon from which the material entity was collected.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Blancan"},{"name":"hasGeospatialIssue","in":"query","description":"Includes/excludes occurrence records which contain spatial issues (as determined in our record interpretation), i.e. hasGeospatialIssue=true returns only those records with spatial issues while hasGeospatialIssue=false includes only records without spatial issues.\n\nThe absence of this parameter returns any record with or without spatial issues.","schema":{"type":"boolean"},"example":true},{"name":"hostingOrganizationKey","in":"query","description":"The key (UUID) of the publishing organization whose installation (server) hosts the original dataset.\n\n(This is of little interest to most data users.)\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"fbca90e3-8aed-48b1-84e3-369afbd000ce"},{"name":"identifiedBy","in":"query","description":"The person who provided the taxonomic identification of the occurrence.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Allison"},{"name":"identifiedByID","in":"query","description":"Identifier (e.g. ORCID) for the person who provided the taxonomic identification of the occurrence.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"https://orcid.org/0000-0001-6492-4016"},{"name":"installationKey","in":"query","description":"The occurrence installation key (a UUID).\n\n(This is of little interest to most data users.  It is the identifier for the server that provided the data to GBIF.)\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"17a83780-3060-4851-9d6f-029d5fcb81c9"},{"name":"institutionCode","in":"query","description":"An identifier of any form assigned by the source to identify the institution the record belongs to. Not guaranteed to be unique.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"K"},{"name":"institutionKey","in":"query","description":"A key (UUID) for an institution registered in the [Global Registry of Scientific Collections](https://www.gbif.org/grscicoll).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"fa252605-26f6-426c-9892-94d071c2c77f"},{"name":"issue","in":"query","description":"A specific interpretation issue as defined in our OccurrenceIssue enumeration.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ZERO_COORDINATE","COORDINATE_OUT_OF_RANGE","COORDINATE_INVALID","COORDINATE_ROUNDED","GEODETIC_DATUM_INVALID","GEODETIC_DATUM_ASSUMED_WGS84","COORDINATE_REPROJECTED","COORDINATE_REPROJECTION_FAILED","COORDINATE_REPROJECTION_SUSPICIOUS","COORDINATE_ACCURACY_INVALID","COORDINATE_PRECISION_INVALID","COORDINATE_UNCERTAINTY_METERS_INVALID","COORDINATE_PRECISION_UNCERTAINTY_MISMATCH","FOOTPRINT_SRS_INVALID","FOOTPRINT_WKT_MISMATCH","FOOTPRINT_WKT_INVALID","COUNTRY_COORDINATE_MISMATCH","COUNTRY_MISMATCH","COUNTRY_INVALID","COUNTRY_DERIVED_FROM_COORDINATES","CONTINENT_COORDINATE_MISMATCH","CONTINENT_COUNTRY_MISMATCH","CONTINENT_INVALID","CONTINENT_DERIVED_FROM_COUNTRY","CONTINENT_DERIVED_FROM_COORDINATES","PRESUMED_SWAPPED_COORDINATE","PRESUMED_NEGATED_LONGITUDE","PRESUMED_NEGATED_LATITUDE","RECORDED_DATE_MISMATCH","RECORDED_DATE_INVALID","RECORDED_DATE_UNLIKELY","TAXON_MATCH_FUZZY","TAXON_MATCH_HIGHERRANK","TAXON_MATCH_AGGREGATE","TAXON_MATCH_SCIENTIFIC_NAME_ID_IGNORED","TAXON_MATCH_TAXON_CONCEPT_ID_IGNORED","TAXON_MATCH_TAXON_ID_IGNORED","SCIENTIFIC_NAME_ID_NOT_FOUND","TAXON_CONCEPT_ID_NOT_FOUND","TAXON_ID_NOT_FOUND","SCIENTIFIC_NAME_AND_ID_INCONSISTENT","TAXON_MATCH_NONE","TAXON_MATCH_NAME_AND_ID_AMBIGUOUS","DEPTH_NOT_METRIC","DEPTH_UNLIKELY","DEPTH_MIN_MAX_SWAPPED","DEPTH_NON_NUMERIC","ELEVATION_UNLIKELY","ELEVATION_MIN_MAX_SWAPPED","ELEVATION_NOT_METRIC","ELEVATION_NON_NUMERIC","MODIFIED_DATE_INVALID","MODIFIED_DATE_UNLIKELY","IDENTIFIED_DATE_UNLIKELY","IDENTIFIED_DATE_INVALID","BASIS_OF_RECORD_INVALID","TYPE_STATUS_INVALID","SUSPECTED_TYPE","MULTIMEDIA_DATE_INVALID","MULTIMEDIA_URI_INVALID","REFERENCES_URI_INVALID","INTERPRETATION_ERROR","INDIVIDUAL_COUNT_INVALID","INDIVIDUAL_COUNT_CONFLICTS_WITH_OCCURRENCE_STATUS","OCCURRENCE_STATUS_UNPARSABLE","OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT","OCCURRENCE_STATUS_INFERRED_FROM_BASIS_OF_RECORD","GEOREFERENCED_DATE_UNLIKELY","GEOREFERENCED_DATE_INVALID","AMBIGUOUS_INSTITUTION","AMBIGUOUS_COLLECTION","INSTITUTION_MATCH_NONE","COLLECTION_MATCH_NONE","INSTITUTION_MATCH_FUZZY","COLLECTION_MATCH_FUZZY","INSTITUTION_COLLECTION_MISMATCH","POSSIBLY_ON_LOAN","DIFFERENT_OWNER_INSTITUTION","ERA_OR_ERATHEM_INFERRED_FROM_PARENT_RANK","PERIOD_OR_SYSTEM_INFERRED_FROM_PARENT_RANK","EPOCH_OR_SERIES_INFERRED_FROM_PARENT_RANK","AGE_OR_STAGE_INFERRED_FROM_PARENT_RANK","EON_OR_EONOTHEM_RANK_MISMATCH","ERA_OR_ERATHEM_RANK_MISMATCH","PERIOD_OR_SYSTEM_RANK_MISMATCH","EPOCH_OR_SERIES_RANK_MISMATCH","AGE_OR_STAGE_RANK_MISMATCH","EON_OR_EONOTHEM_INVALID_RANGE","ERA_OR_ERATHEM_INVALID_RANGE","PERIOD_OR_SYSTEM_INVALID_RANGE","EPOCH_OR_SERIES_INVALID_RANGE","AGE_OR_STAGE_INVALID_RANGE","EON_OR_EONOTHEM_AND_ERA_OR_ERATHEM_MISMATCH","ERA_OR_ERATHEM_AND_PERIOD_OR_SYSTEM_MISMATCH","PERIOD_OR_SYSTEM_AND_EPOCH_OR_SERIES_MISMATCH","EPOCH_OR_SERIES_AND_AGE_OR_STAGE_MISMATCH"],"uniqueItems":true},"uniqueItems":true},"example":"COUNTRY_COORDINATE_MISMATCH"},{"name":"isInCluster","in":"query","description":"*Experimental.* Searches for records which are part of a cluster.  See the documentation on [clustering](/en/data-processing/clustering-occurrences).","schema":{"type":"boolean"},"example":true},{"name":"island","in":"query","description":"The name of the island on or near which the location occurs.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Zanzibar"},{"name":"islandGroup","in":"query","description":"The name of the island group in which the location occurs.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Seychelles"},{"name":"isSequenced","in":"query","description":"Flag occurrence when associated sequences exists","schema":{"type":"boolean"},"example":true},{"name":"iucnRedListCategory","in":"query","description":"A threat status category from the IUCN Red List.  The two-letter code for the status should be used.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["EXTINCT","EXTINCT_IN_THE_WILD","REGIONALLY_EXTINCT","CRITICALLY_ENDANGERED","ENDANGERED","VULNERABLE","NEAR_THREATENED","LEAST_CONCERN","DATA_DEFICIENT","NOT_APPLICABLE","NOT_EVALUATED"],"uniqueItems":true},"uniqueItems":true},"example":"EX"},{"name":"kingdomKey","in":"query","description":"Kingdom classification key.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":5},{"name":"lastInterpreted","in":"query","description":"This date the record was last modified in GBIF, in ISO 8601 format: yyyy, yyyy-MM, yyyy-MM-dd, or MM-dd.\n\nNote that this is the date the record was last changed in GBIF, not necessarily the date the record was first/last changed by the publisher. Data is re-interpreted when we change the taxonomic backbone, geographic data sources, or interpretation processes.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"date-time","uniqueItems":true},"uniqueItems":true},"example":"2023-02"},{"name":"latestEonOrHighestEonothem","in":"query","description":"The full name of the latest possible geochronologic eon or highest chrono-stratigraphic eonothem or the informal name (\"Precambrian\") attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Proterozoic"},{"name":"latestEraOrHighestErathem","in":"query","description":"The full name of the latest possible geochronologic era or highest chronostratigraphic erathem attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Cenozoic"},{"name":"latestPeriodOrHighestSystem","in":"query","description":"The full name of the latest possible geochronologic period or highest chronostratigraphic system attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Neogene"},{"name":"latestEpochOrHighestSeries","in":"query","description":"The full name of the latest possible geochronologic epoch or highest chronostratigraphic series attributable to the stratigraphic horizon from which the material entity was collected*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Pleistocene"},{"name":"latestAgeOrHighestStage","in":"query","description":"The full name of the latest possible geochronologic age or highest chronostratigraphic stage attributable to the stratigraphic horizon from which the material entity was collected.*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Boreal"},{"name":"license","in":"query","description":"The licence applied to the dataset or record by the publisher.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["CC0_1_0","CC_BY_4_0","CC_BY_NC_4_0","UNSPECIFIED","UNSUPPORTED"],"externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/basic/License"},"uniqueItems":true},"uniqueItems":true},"example":"CC0_1_0"},{"name":"lifeStage","in":"query","description":"The age class or life stage of an organism at the time the occurrence was recorded, as defined in the GBIF LifeStage vocabulary](https://registry.gbif.org/vocabulary/LifeStage/concepts).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Juvenile"},{"name":"locality","in":"query","description":"The specific description of the place.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"lowestBiostratigraphicZone","in":"query","description":"The full name of the lowest possible geological biostratigraphic zone of the stratigraphic horizon from which the material entity was collected.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Maastrichtian"},{"name":"mediaType","in":"query","description":"The kind of multimedia associated with an occurrence as defined in our MediaType enumeration.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/MediaType","uniqueItems":true},"uniqueItems":true}},{"name":"member","in":"query","description":"The full name of the lithostratigraphic member from which the material entity was collected.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Lava Dam Member"},{"name":"modified","in":"query","description":"The most recent date-time on which the occurrnce was changed, according to the publisher.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"date-time","uniqueItems":true},"uniqueItems":true},"example":"2023-02-20"},{"name":"month","in":"query","description":"The month of the year, starting with 1 for January.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":5},{"name":"networkKey","in":"query","description":"The network's GBIF key (a UUID).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"},{"name":"occurrenceId","in":"query","description":"A globally unique identifier for the occurrence record as provided by the publisher.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"URN:catalog:UWBM:Bird:126493"},{"name":"occurrenceStatus","in":"query","description":"Either `ABSENT` or `PRESENT`; the presence or absence of the occurrence.","schema":{"type":"string","description":"A statement about the presence or absence of a Taxon at a Location.\n\nFor definitions, see the [GBIF occurrence status vocabulary](https://rs.gbif.org/vocabulary/gbif/occurrence_status/).","enum":["PRESENT","ABSENT"],"externalDocs":{"description":"Darwin Core definition","url":"https://rs.tdwg.org/dwc/terms/occurrenceStatus"}},"example":"PRESENT"},{"name":"orderKey","in":"query","description":"Order classification key.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":1448},{"name":"organismId","in":"query","description":"An identifier for the organism instance (as opposed to a particular digital record of the organism). May be a globally unique identifier or an identifier specific to the data set.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"organismQuantity","in":"query","description":"A number or enumeration value for the quantity of organisms.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":1},{"name":"organismQuantityType","in":"query","description":"The type of quantification system used for the quantity of organisms.\n\n*Note this term is not aligned to a vocabulary.*\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"individuals"},{"name":"otherCatalogNumbers","in":"query","description":"Previous or alternate fully qualified catalog numbers.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"parentEventId","in":"query","description":"An identifier for the information associated with a sampling event.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"A 123"},{"name":"pathway","in":"query","description":"The process by which an organism came to be in a given place at a given time, as defined in the [GBIF Pathway vocabulary](https://registry.gbif.org/vocabulary/Pathway/concepts).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Agriculture"},{"name":"phylumKey","in":"query","description":"Phylum classification key.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":44},{"name":"preparations","in":"query","description":"Preparation or preservation method for a specimen.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"pinned"},{"name":"previousIdentifications","in":"query","description":"Previous assignment of name to the organism.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Chalepidae"},{"name":"programme","in":"query","description":"A group of activities, often associated with a specific funding stream, such as the GBIF BID programme.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"BID"},{"name":"projectId","in":"query","description":"The identifier for a project, which is often assigned by a funded programme.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"bid-af2020-039-reg"},{"name":"protocol","in":"query","description":"Protocol or mechanism used to provide the occurrence record.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["EML","FEED","WFS","WMS","TCS_RDF","TCS_XML","DWC_ARCHIVE","DIGIR","DIGIR_MANIS","TAPIR","BIOCASE","BIOCASE_XML_ARCHIVE","OAI_PMH","COLDP","CAMTRAP_DP","DWC_DP","BIOM_1_0","BIOM_2_1","ACEF","TEXT_TREE","OTHER"],"uniqueItems":true},"uniqueItems":true},"example":"DWC_ARCHIVE"},{"name":"publishingCountry","in":"query","description":"The 2-letter country code (as per ISO-3166-1) of the owning organization's country.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","BN","BG","BF","BI","KH","CM","CA","CV","KY","CF","TD","CL","CN","CX","CC","CO","KM","CD","CG","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","SS","ES","LK","SD","SR","SJ","SZ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW","AA","XK","XZ","ZZ"],"externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/country"},"uniqueItems":true},"uniqueItems":true},"example":"AD"},{"name":"publishedByGbifRegion","in":"query","description":"GBIF region based on the owning organization's country.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","description":"An enumeration for all GBIF Regions. These are based on [IPBES regions](https://www.nature.com/articles/sdata20167/figures/1).\n\n*This is a political division,* part of GBIF's governance structure.","enum":["AFRICA","ASIA","EUROPE","NORTH_AMERICA","OCEANIA","LATIN_AMERICA","ANTARCTICA"],"uniqueItems":true},"uniqueItems":true},"example":"AFRICA"},{"name":"publishingOrg","in":"query","description":"The publishing organization's GBIF key (a UUID).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","format":"uuid","uniqueItems":true},"uniqueItems":true},"example":"e2e717bf-551a-4917-bdc9-4fa0f342c530"},{"name":"recordedBy","in":"query","description":"The person who recorded the occurrence.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"MiljoStyrelsen"},{"name":"recordedByID","in":"query","description":"Identifier (e.g. ORCID) for the person who recorded the occurrence.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"https://orcid.org/0000-0003-0623-6682"},{"name":"recordNumber","in":"query","description":"An identifier given to the record at the time it was recorded in the field.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":1},{"name":"relativeOrganismQuantity","in":"query","description":"The relative measurement of the quantity of the organism (i.e. without absolute units).\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"repatriated","in":"query","description":"Searches for records whose publishing country is different to the country in which the record was recorded.","schema":{"type":"boolean"},"example":true},{"name":"sampleSizeUnit","in":"query","description":"The unit of measurement of the size (time duration, length, area, or volume) of a sample in a sampling event.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"hectares"},{"name":"sampleSizeValue","in":"query","description":"A numeric value for a measurement of the size (time duration, length, area, or volume) of a sample in a sampling event.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"number","format":"double","uniqueItems":true},"uniqueItems":true},"example":50.5},{"name":"samplingProtocol","in":"query","description":"The name of, reference to, or description of the method or protocol used during a sampling event.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"malaise trap"},{"name":"sex","in":"query","description":"The sex of the biological individual(s) represented in the occurrence.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"MALE"},{"name":"scientificName","in":"query","description":"A scientific name from the [GBIF backbone](https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c) or the specified checklist (see checklistKey parameter). All included and synonym taxa are included in the search.\n\nUnder the hood a call to the [species match service](https://www.gbif.org/developer/species#searching) is done first to retrieve a taxonKey. Only unique scientific names will return results, homonyms (many monomials) return nothing! Consider to use the taxonKey parameter instead and the species match service directly.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Quercus robur"},{"name":"speciesKey","in":"query","description":"Species classification key.*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":2476674},{"name":"startDayOfYear","in":"query","description":"The earliest integer day of the year on which the event occurred.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":5},{"name":"stateProvince","in":"query","description":"The name of the next smaller administrative region than country (state, province, canton, department, region, etc.) in which the Location occurs.\n\nThis term does not have any data quality checks; see also the GADM parameters.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Leicestershire"},{"name":"taxonConceptId","in":"query","description":"An identifier for the taxonomic concept to which the record refers - not for the nomenclatural details of a taxon.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"8fa58e08-08de-4ac1-b69c-1235340b7001"},{"name":"taxonKey","in":"query","description":"A taxon key from the GBIF backbone or the specified checklist (see checklistKey parameter). All included (child) and synonym taxa are included in the search, so a search for Aves with taxonKey=212 (i.e. [/occurrence/search?taxonKey=212](https://api.gbif.org/v1/occurrence/search?taxonKey=212)) will match all birds, no matter which species.*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":2476674},{"name":"taxonId","in":"query","description":"The taxon identifier provided to GBIF by the data publisher.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"urn:lsid:dyntaxa.se:Taxon:103026"},{"name":"taxonomicIssue","in":"query","description":"*Experimental.* A specific taxonomic interpretation issue as defined in our OccurrenceIssue enumeration.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["TAXON_MATCH_FUZZY","TAXON_MATCH_HIGHERRANK","TAXON_MATCH_AGGREGATE","TAXON_MATCH_SCIENTIFIC_NAME_ID_IGNORED","TAXON_MATCH_TAXON_CONCEPT_ID_IGNORED","TAXON_MATCH_TAXON_ID_IGNORED","SCIENTIFIC_NAME_ID_NOT_FOUND","TAXON_CONCEPT_ID_NOT_FOUND","TAXON_ID_NOT_FOUND","SCIENTIFIC_NAME_AND_ID_INCONSISTENT","TAXON_MATCH_NONE"]},"uniqueItems":true},"example":"TAXON_CONCEPT_ID_NOT_FOUND"},{"name":"taxonomicStatus","in":"query","description":"A taxonomic status from our TaxonomicStatus enumeration.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACCEPTED","DOUBTFUL","SYNONYM","HETEROTYPIC_SYNONYM","HOMOTYPIC_SYNONYM","PROPARTE_SYNONYM","MISAPPLIED","AMBIGUOUS_SYNONYM","PROVISIONALLY_ACCEPTED"],"uniqueItems":true},"uniqueItems":true},"example":"SYNONYM"},{"name":"typeStatus","in":"query","description":"Nomenclatural type (type status, typified scientific name, publication) applied to the subject.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"HOLOTYPE"},{"name":"verbatimScientificName","in":"query","description":"The scientific name provided to GBIF by the data publisher, before interpretation and processing by GBIF.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Quercus robur L."},{"name":"waterBody","in":"query","description":"The name of the water body in which the Locations occurs.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true},"example":"Lake Michigan"},{"name":"year","in":"query","description":"The 4 digit year. A year of 98 will be interpreted as AD 98.\n\n*Parameter may be repeated or a range.*","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32","uniqueItems":true},"uniqueItems":true},"example":1998},{"name":"geologicalTime","in":"query","description":"The geological time of an occurrence that is present in the chronostratigraphy terms. *Parameter may be repeated or a range.*","example":"Mesozoic"},{"name":"lithostratigraphy","in":"query","description":"The lithostratigraphy of an occurrence that is present in the group, formation, member and bed terms","example":"Wayne Fm"},{"name":"biostratigraphy","in":"query","description":"The biostratigraphy of an occurrence that is present in the lowest and highest biostratigraphy terms","example":"Rhynchonella cuvieri Zone"},{"name":"measurementType","in":"query","description":"The measurement type of the record as it comes in the measurement or fact extension.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"measurementTypeID","in":"query","description":"The measurement type ID of the record as it comes in the extended measurement or fact extension.\n\n*Parameter may be repeated.*","explode":true,"schema":{"type":"array","items":{"type":"string","uniqueItems":true},"uniqueItems":true}},{"name":"matchCase","in":"query","description":"*Experimental.* Indicates if the search has to be case sensitive","schema":{"type":"boolean"},"example":true},{"name":"shuffle","in":"query","description":"*Experimental.* Seed to sort the results randomly.","schema":{"type":"string"},"example":"abcdefgh"},{"name":"hl","in":"query","description":"Set `hl=true` to highlight terms matching the query when in full-text search fields. The highlight will be an emphasis tag of class `gbifH1` e.g. [`/search?q=plant&hl=true`](https://api.gbif.org/v1/literature/search?q=plant&hl=true).\n\nFull-text search fields include: title, keyword, country, publishing country, publishing organization title, hosting organization title, and description. One additional full text field is searched which includes information from metadata documents, but the text of this field is not returned in the response.","schema":{"type":"boolean"},"example":true},{"name":"q","in":"query","description":"Simple full-text search parameter. The value for this parameter can be a simple word or a phrase. Wildcards are not supported","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the maximum threshold, which is 300 for this service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32","minimum":0}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. This service has a maximum offset of 100,000.","schema":{"type":"integer","format":"int32","minimum":0}},{"name":"facet","in":"query","description":"A facet name used to retrieve the most frequent values for a field. Facets are allowed for all search parameters except geometry and geoDistance. This parameter may by repeated to request multiple facets, as in [this example](https://api.gbif.org/v1/occurrence/search?facet=datasetKey&facet=basisOfRecord&limit=0).\n\nNote terms not available for searching are not available for faceting.","schema":{"type":"string"}},{"name":"facetMincount","in":"query","description":"Used in combination with the facet parameter. Set facetMincount={#} to exclude facets with a count less than {#}, e.g. [/search?facet=basisOfRecord&limit=0&facetMincount=10000](https://api.gbif.org/v1/occurrence/search?facet=basisOfRecord&limit=0&facetMincount=1000000].","schema":{"type":"integer","format":"int32"}},{"name":"facetMultiselect","in":"query","description":"Used in combination with the facet parameter. Set facetMultiselect=true to still return counts for values that are not currently filtered, e.g. [/search?facet=basisOfRecord&limit=0&basisOfRecord=HUMAN_OBSERVATION&facetMultiselect=true](https://api.gbif.org/v1/occurrence/search?facet=basisOfRecord&limit=0&basisOfRecord=HUMAN_OBSERVATION&facetMultiselect=true) still shows Basis of Record values 'PRESERVED_SPECIMEN' and so on, even though Basis of Record is being filtered.","schema":{"type":"boolean"}},{"name":"facetLimit","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32"}},{"name":"facetOffset","in":"query","description":"Facet parameters allow paging requests using the parameters facetOffset and facetLimit","schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"Occurrence search is valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}}}},"400":{"description":"Invalid query, e.g. invalid vocabulary values"}},"x-Order":{"Order":"0000"}}},"/occurrence/download/request":{"post":{"tags":["Occurrence downloads"],"summary":"Requests the creation of a download file.","description":"Starts the process of creating a download file. See the predicates section to consult the requests accepted by this service and the limits section to refer for information of how this service is limited per user.","operationId":"requestDownload","requestBody":{"content":{"application/json":{"schema":{"example":{"creator":"gbif_username","sendNotification":true,"notification_address":["gbif@example.org"],"format":"DWCA","description":"A user-friendly description of the download request.","machineDescription":{"key":"value"},"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"FR"},{"type":"equals","key":"YEAR","value":"2017"}]},"verbatimExtensions":["http://rs.tdwg.org/ac/terms/Multimedia"]},"oneOf":[{"$ref":"#/components/schemas/PredicateDownloadRequest"},{"$ref":"#/components/schemas/SqlDownloadRequest"}]}}},"required":true},"responses":{"201":{"description":"Download requested, key returned.","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Invalid query, see [predicates](#predicates).","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}}}},"429":{"description":"Too many downloads, wait for one of your downloads to complete. See [limits](#limits)","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}}}}},"x-Order":{"Order":"0010"}}},"/occurrence/download/request/{key}":{"get":{"tags":["Occurrence downloads"],"summary":"Retrieve the resulting download file","description":"Retrieves the download file if it is available.","operationId":"retrieveDownload","parameters":[{"name":"key","in":"path","description":"An identifier for a download.","required":true,"schema":{"type":"string","format":"NNNNNNN-NNNNNNNNNNNNNNN"},"example":"0001005-130906152512535"}],"responses":{"200":{"description":"OK"},"302":{"description":"Download found, follow the redirect to the data file (e.g. zip file).","content":{"application/octet-stream;qs=0.5":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"application/x-javascript":{"schema":{"type":"string"}}}},"404":{"description":"Invalid download key.","content":{"application/octet-stream;qs=0.5":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"application/x-javascript":{"schema":{"type":"string"}}}},"410":{"description":"Download file was erased and is no longer available.","content":{"application/octet-stream;qs=0.5":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"application/x-javascript":{"schema":{"type":"string"}}}}},"x-Order":{"Order":"0020"}},"delete":{"tags":["Occurrence downloads"],"summary":"Cancel a running download","description":"Cancel a running download","operationId":"cancelDownload","parameters":[{"name":"key","in":"path","description":"An identifier for a download.","required":true,"schema":{"type":"string","format":"NNNNNNN-NNNNNNNNNNNNNNN"},"example":"0001005-130906152512535"}],"responses":{"204":{"description":"Download cancelled."},"404":{"description":"Invalid download key."}},"x-Order":{"Order":"0030"}}},"/occurrence/download/request/validate":{"post":{"tags":["Occurrence downloads"],"summary":"**Experimental** Validates the SQL contained in an SQL download request.","description":"**Experimental** Validates the SQL in an SQL download request.  See the SQL section  for information on what queries are accepted.","operationId":"validateDownloadRequest","requestBody":{"content":{"application/json":{"schema":{"example":{"creator":"gbif_username","sendNotification":true,"notification_address":["gbif@example.org"],"format":"SQL_TSV_ZIP","sql":"SELECT datasetKey, countryCode, COUNT(*) FROM occurrence WHERE continent = 'EUROPE' GROUP BY datasetKey, countryCode"},"oneOf":[{"$ref":"#/components/schemas/SqlDownloadRequest"}]}}},"required":true},"responses":{"200":{"description":"SQL is valid.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid query, see other documentation.","content":{"application/json":{"schema":{"type":"object"}}}}},"x-Order":{"Order":"0040"}}},"/occurrence/download/request/predicate":{"get":{"tags":["Occurrence downloads"],"summary":"Converts a plain search query into a download predicate.","description":"Takes a search query used for the ordinary search API and returns a predicate suitable for the download API.  In many cases, a query from the website can be converted using this method.","operationId":"searchToPredicate","parameters":[{"name":"notification_address","in":"query","description":"Email notification address.","required":false,"schema":{"type":"string"}},{"name":"format","in":"query","description":"Download format.","required":true,"schema":{"type":"string"}},{"name":"verbatimExtensions","in":"query","description":"Verbatim extensions to include in a Darwin Core Archive download.","required":false,"schema":{"type":"string"}},{"name":"interpretedExtensions","in":"query","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}},{"name":"machineDescription","in":"query","required":false,"schema":{"type":"string"}},{"name":"checklistKey","in":"query","description":"*Experimental.* The checklist to use that will supply interpreted taxonomic fields. The default is to use the GBIF Backbone.download.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadRequest"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/DownloadRequest"}}}}},"x-Order":{"Order":"0050"}}},"/occurrence/download/request/sql":{"get":{"tags":["Occurrence downloads"],"summary":"Converts a plain search query into an SQL download predicate.","description":"Takes a search query used by the occurrence search API and returns an SQL Download query suitable for the SQL download API.  In many cases, a query from the website can be converted using this method.\n\n**Experimental** This method may be changed in the future.","operationId":"searchToSql","parameters":[{"name":"notification_address","in":"query","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}},{"name":"machineDescription","in":"query","required":false,"schema":{"type":"string"}},{"name":"checklistKey","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/x-javascript":{"schema":{"type":"object"}}}}},"x-Order":{"Order":"0062"}},"post":{"tags":["Occurrence downloads"],"summary":"Converts a predicate download request into an SQL download request.","description":"Takes a predicate download request used by the occurrence download API and returns an SQL predicate request suitable for the SQL download API.\n\nThe list of columns in the SELECT clause is that used for a SIMPLE_CSV or DWCA download, according to the format used in the request.\n\n**Experimental** This method may be changed in the future.","operationId":"searchToSql_1","requestBody":{"content":{"application/json":{"schema":{"example":{"creator":"gbif_username","sendNotification":true,"notification_address":["gbif@example.org"],"format":"SIMPLE_CSV","description":"A user-friendly description of the download request.","machineDescription":{"key":"value"},"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"FR"},{"type":"equals","key":"YEAR","value":"2017"}]}},"oneOf":[{"$ref":"#/components/schemas/PredicateDownloadRequest"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-Order":{"Order":"0060"}}},"/occurrence/{gbifId}":{"get":{"tags":["Occurrences"],"summary":"Occurrence by id","description":"Retrieve details for a single, interpreted occurrence.\n\nThe returned occurrence includes additional fields, not shown in the response below.  They are verbatim fields which are not interpreted by GBIF's system, e.g. `location`.  The names are the short Darwin Core Term names.","operationId":"getOccurrenceById","parameters":[{"name":"gbifId","in":"path","description":"Integer gbifId for the occurrence.","required":true,"schema":{"type":"integer","format":"int64","minimum":1},"example":1258202889}],"responses":{"200":{"description":"Occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0100"}}},"/occurrence/search/predicate":{"post":{"tags":["Searching occurrences"],"summary":"Occurrence search using predicates","description":"Full search across all occurrences specified using predicates (as used for the download API).\n\nNote facet and limit parameters are part of the POSTed object \u2013 see the schema for the request body.","operationId":"predicateSearchOccurrence","requestBody":{"content":{"application/json":{"schema":{"example":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"FR"},{"type":"equals","key":"YEAR","value":"2017"}]},"limit":2},"oneOf":[{"$ref":"#/components/schemas/OccurrencePredicateSearchRequest"}]}}},"required":true},"responses":{"200":{"description":"Occurrence search is valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/SearchResponseOccurrenceOccurrenceSearchParameter"}}}},"400":{"description":"Invalid query, e.g. invalid vocabulary values"}},"x-Order":{"Order":"0100"}}},"/occurrence/{datasetKey}/{occurrenceId}":{"get":{"tags":["Occurrences"],"summary":"Occurrence by dataset key and occurrence id","description":"Retrieve a single, interpreted occurrence by its dataset key and occurrenceId in that dataset.\n\nThe returned occurrence includes additional fields, not shown in the response below.  They are verbatim fields which are not interpreted by GBIF's system, e.g. `location`.  The names are the short Darwin Core Term names.","operationId":"getOccurrenceByDatasetKeyAndOccurrenceId","parameters":[{"name":"datasetKey","in":"path","description":"UUID key for the dataset.","required":true,"schema":{"type":"string","format":"uuid"},"example":"e053ff53-c156-4e2e-b9b5-4462e9625424"},{"name":"occurrenceId","in":"path","description":"Occurrence ID from the dataset.","required":true,"schema":{"type":"string"},"example":"urn:catalog:MO:Tropicos:100889255"}],"responses":{"200":{"description":"Occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0110"}}},"/occurrence/{gbifId}/fragment":{"get":{"tags":["Occurrences"],"summary":"Occurrence fragment by id","description":"Retrieve a single occurrence fragment in its raw form (JSON or XML).\n\nFragments for deleted occurrences are retained (in most cases) since #TODO# YYYY-MM-DD.","operationId":"getOccurrenceFragmentById","parameters":[{"name":"gbifId","in":"path","description":"Integer gbifId for the occurrence.","required":true,"schema":{"type":"integer","format":"int64","minimum":1},"example":1258202889}],"responses":{"200":{"description":"Occurrence fragment in JSON or XML format","content":{"application/json":{},"text/xml":{}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0130"}}},"/occurrence/{datasetKey}/{occurrenceId}/fragment":{"get":{"tags":["Occurrences"],"summary":"Occurrence fragment by dataset key and occurrence id","description":"Retrieve a single occurrence fragment in its raw form (JSON or XML) by its dataset key and occurrenceId in that dataset.\n\nFragments for deleted occurrences are retained (in most cases) since #TODO# YYYY-MM-DD.","operationId":"getOccurrenceFragmentByDatasetKeyAndOccurrenceId","parameters":[{"name":"datasetKey","in":"path","description":"UUID key for the dataset.","required":true,"schema":{"type":"string","format":"uuid"},"example":"e053ff53-c156-4e2e-b9b5-4462e9625424"},{"name":"occurrenceId","in":"path","description":"Occurrence ID from the dataset.","required":true,"schema":{"type":"string"},"example":"urn:catalog:MO:Tropicos:100889255"}],"responses":{"200":{"description":"Occurrence fragment in JSON or XML format","content":{"application/json":{},"text/xml":{}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0140"}}},"/occurrence/{gbifId}/verbatim":{"get":{"tags":["Occurrences"],"summary":"Verbatim occurrence by id","description":"Retrieve a single, verbatim occurrence without any interpretation\n\nThe returned occurrence includes additional fields, not shown in the response below.  They are verbatim fields which are not interpreted by GBIF's system, e.g. `location`.  The names are the short Darwin Core Term names.","operationId":"getVerbatimOccurrenceById","parameters":[{"name":"gbifId","in":"path","description":"Integer gbifId for the occurrence.","required":true,"schema":{"type":"integer","format":"int64","minimum":1},"example":1258202889}],"responses":{"200":{"description":"Verbatim occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerbatimOccurrence"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/VerbatimOccurrence"}}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0210"}}},"/occurrence/{datasetKey}/{occurrenceId}/verbatim":{"get":{"tags":["Occurrences"],"summary":"Verbatim occurrence by dataset key and occurrence id","description":"Retrieve a single, verbatim occurrence without any interpretation by its dataset key and occurrenceId","operationId":"getVerbatimOccurrenceByDatasetKeyAndOccurrenceId","parameters":[{"name":"datasetKey","in":"path","description":"UUID key for the dataset.","required":true,"schema":{"type":"string","format":"uuid"},"example":"e053ff53-c156-4e2e-b9b5-4462e9625424"},{"name":"occurrenceId","in":"path","description":"Occurrence ID from the dataset.","required":true,"schema":{"type":"string"},"example":"urn:catalog:MO:Tropicos:100889255"}],"responses":{"200":{"description":"Verbatim occurrence found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerbatimOccurrence"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/VerbatimOccurrence"}}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0220"}}},"/occurrence/{gbifId}/experimental/related":{"get":{"tags":["Occurrences"],"summary":"Related occurrences by gbifId","description":"**Experimental** Retrieve a list of related occurrences.","operationId":"experimentalGetRelatedOccurrences","parameters":[{"name":"gbifId","in":"path","description":"Integer gbifId for the occurrence.","required":true,"schema":{"type":"integer","format":"int64","minimum":1},"example":1056006536}],"responses":{"200":{"description":"Occurrence found, list of related occurrences returned.","content":{"application/json":{"schema":{"type":"string"}},"application/x-javascript":{"schema":{"type":"string"}}}},"400":{"description":"Invalid identifier supplied"},"404":{"description":"Occurrence not found"}},"x-Order":{"Order":"0300"}}},"/occurrence/search/catalogNumber":{"get":{"tags":["Searching occurrences"],"summary":"Suggest catalogue numbers","description":"Search that returns matching catalogue numbers. Results are ordered by relevance.","operationId":"suggestCatalogNumbers","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/collectionCode":{"get":{"tags":["Searching occurrences"],"summary":"Suggest collection codes","description":"Search that returns matching collection codes. Results are ordered by relevance.","operationId":"suggestCollectionCodes","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/datasetName":{"get":{"tags":["Searching occurrences"],"summary":"Suggest dataset names","description":"Search that returns matching dataset names. Results are ordered by relevance.","operationId":"suggestDatasetNames","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/eventId":{"get":{"tags":["Searching occurrences"],"summary":"Suggest event ids","description":"Search that returns matching event ids. Results are ordered by relevance.","operationId":"suggestEventIds","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/identifiedBy":{"get":{"tags":["Searching occurrences"],"summary":"Suggest identified by values","description":"Search that returns matching identified by values. Results are ordered by relevance.","operationId":"suggestIdentifiedBy","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/institutionCode":{"get":{"tags":["Searching occurrences"],"summary":"Suggest institution codes","description":"Search that returns matching institution codes. Results are ordered by relevance.","operationId":"suggestInstitutionCodes","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/locality":{"get":{"tags":["Searching occurrences"],"summary":"Suggest locality strings","description":"Search that returns matching localities. Results are ordered by relevance.","operationId":"suggestLocalities","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/occurrenceId":{"get":{"tags":["Searching occurrences"],"summary":"Suggest occurrence ids","description":"Search that returns matching occurrence ids. Results are ordered by relevance.","operationId":"suggestOccurrenceIds","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/organismId":{"get":{"tags":["Searching occurrences"],"summary":"Suggest organism ids","description":"Search that returns matching organism ids. Results are ordered by relevance.","operationId":"suggestOrganismIds","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/otherCatalogNumbers":{"get":{"tags":["Searching occurrences"],"summary":"Suggest other catalogue numbers","description":"Search that returns matching other catalogue numbers. Results are ordered by relevance.","operationId":"suggestOtherCatalogNumbers","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/parentEventId":{"get":{"tags":["Searching occurrences"],"summary":"Suggest parent event ids","description":"Search that returns matching parent event ids. Results are ordered by relevance.","operationId":"suggestParentEventIds","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/recordNumber":{"get":{"tags":["Searching occurrences"],"summary":"Suggest record numbers","description":"Search that returns matching record numbers. Results are ordered by relevance.","operationId":"suggestRecordNumbers","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/recordedBy":{"get":{"tags":["Searching occurrences"],"summary":"Suggest recorded by values","description":"Search that returns matching recorded by values. Results are ordered by relevance.","operationId":"suggestRecordedBy","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/samplingProtocol":{"get":{"tags":["Searching occurrences"],"summary":"Suggest sampling protocols","description":"Search that returns matching sampling protocols. Results are ordered by relevance.","operationId":"suggestSamplingProtocols","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/stateProvince":{"get":{"tags":["Searching occurrences"],"summary":"Suggest states/provinces","description":"Search that returns matching states or provinces. Results are ordered by relevance.","operationId":"suggestStateProvinces","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/waterBody":{"get":{"tags":["Searching occurrences"],"summary":"Suggest water bodies","description":"Search that returns matching water bodies. Results are ordered by relevance.","operationId":"suggestWaterBodies","parameters":[{"name":"q","in":"query","description":"Simple search suggestion parameter. Wildcards are not supported.","required":true,"schema":{"type":"string"},"example":"A"},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"1000"}}},"/occurrence/search/experimental/term/{term}":{"get":{"tags":["Searching occurrences"],"summary":"Suggest values for supported terms","description":"Search that returns values for supported terms. Results are ordered by relevance.","operationId":"suggestTerm","parameters":[{"name":"term","in":"query","description":"A supported term","required":true,"schema":{"type":"string","description":"The values of the Darwin Core term Basis of Record which can apply to occurrences.\n\nSee GBIF's [Darwin Core Type Vocabulary](https://rs.gbif.org/vocabulary/dwc/basis_of_record.xml) for definitions.","enum":["PRESERVED_SPECIMEN","FOSSIL_SPECIMEN","LIVING_SPECIMEN","OBSERVATION","HUMAN_OBSERVATION","MACHINE_OBSERVATION","MATERIAL_SAMPLE","LITERATURE","MATERIAL_CITATION","OCCURRENCE","UNKNOWN"],"externalDocs":{"description":"API call to retrieve all official values.","url":"https://api.gbif.org/v1/enumeration/basic/BasisOfRecord"}},"example":"Continent"},{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Controls the number of suggestions.","required":true,"schema":{"type":"integer","format":"int32","minimum":1},"example":5}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/x-javascript":{"schema":{"type":"array","items":{"type":"string"}}}}}},"x-Order":{"Order":"5000"}}},"/occurrence/download/describe/dwca":{"get":{"tags":["Occurrence download formats"],"summary":"**Experimental.** Describes the fields present in a Darwin Core Archive format download","operationId":"describeDwcaDownload","responses":{"200":{"description":"Field description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DwcDownload"}}}}}}},"/occurrence/download/describe/simpleAvro":{"get":{"tags":["Occurrence download formats"],"summary":"**Experimental.** Describes the fields present in a Simple Avro format download","operationId":"describeSimpleAvroDownload","responses":{"200":{"description":"Field description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/simpleCsv":{"get":{"tags":["Occurrence download formats"],"summary":"**Experimental.** Describes the fields present in a Simple CSV format download","operationId":"describeSimpleCsvDownload","responses":{"200":{"description":"Field description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/simpleParquet":{"get":{"tags":["Occurrence download formats"],"summary":"**Experimental.** Describes the fields present in a Simple Parquet format download","operationId":"describeSimpleParquetDownload","responses":{"200":{"description":"Field description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/speciesList":{"get":{"tags":["Occurrence download formats"],"summary":"**Experimental.** Describes the fields present in a Species List format download","operationId":"describeSpeciesListDownload","responses":{"200":{"description":"Field description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/occurrence/download/describe/sql":{"get":{"tags":["Occurrence download formats"],"summary":"**Very experimental.** Describes the fields available for searching or download when using an SQL query.","operationId":"describeSqlDownload","responses":{"200":{"description":"Field description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Table"}}}}}}},"/":{"get":{"tags":["home-resource"],"operationId":"index","responses":{"200":{"description":"OK"}}}},"/occurrence/experimental/multimedia/species/{taxonKey}":{"get":{"tags":["occurrence-species-multimedia-resource"],"operationId":"listMultimediaBySpecies","parameters":[{"name":"taxonKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"mediaType","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxonMultimediaSearchResponse"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/TaxonMultimediaSearchResponse"}}}}}}},"/occurrence/experimental/multimedia/species/{checklistKey}/{taxonKey}":{"get":{"tags":["occurrence-species-multimedia-resource"],"operationId":"listMultimediaBySpecies_1","parameters":[{"name":"checklistKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"taxonKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"mediaType","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxonMultimediaSearchResponse"}},"application/x-javascript":{"schema":{"$ref":"#/components/schemas/TaxonMultimediaSearchResponse"}}}}}}},"/occurrence/term":{"get":{"tags":["Occurrences"],"summary":"Occurrence terms","description":"Lists the definitions of the terms (JSON properties, field names) of occurrences.","operationId":"occurrenceTerms","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TermWrapper"}}}}}}}},"/occurrence/download/{key}":{"get":{"tags":["Occurrence downloads"],"summary":"Information about an occurrence download","description":"Retrieves the status (in-progress, complete, etc), definition and location of an occurrence download.  Authorized users see additional details on their own downloads.","operationId":"getOccurrenceDownloadByKey","parameters":[{"name":"key","in":"path","description":"The key of the download","required":true,"schema":{"type":"string"}},{"name":"statistics","in":"query","description":"If true it also shows number of organizations and countries.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Occurrence download information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Download"}}}},"400":{"description":"Invalid request"},"404":{"description":"Entity or subentity not found"},"5XX":{"description":"System failure \u2013 try again"}},"x-Order":{"Order":"0110"}}},"/occurrence/download/{prefix}/{suffix}":{"get":{"tags":["Occurrence downloads"],"summary":"Information about an occurrence download","description":"Retrieves the status (in-progress, complete, etc), definition and location of an occurrence download.  Authorized users see additional details on their own downloads.","operationId":"getOccurrenceDownloadByDOI","parameters":[{"name":"prefix","in":"path","description":"The DOI prefix of the download, 10.15468 for GBIF downloads","required":true,"schema":{"type":"string"}},{"name":"suffix","in":"path","description":"The DOI suffix of the download, begins 'dl.' for GBIF downloads","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Occurrence download information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Download"}}}},"400":{"description":"Invalid request"},"404":{"description":"Entity or subentity not found"},"5XX":{"description":"System failure \u2013 try again"}},"x-Order":{"Order":"0111"}}},"/occurrence/download/user/{user}":{"get":{"tags":["Occurrence downloads"],"summary":"Lists all occurrence downloads from a user","description":"Retrieves the status, definitions and locations of all occurrence downloads by your own user.","operationId":"listOccurrenceDownloadsByUser","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","description":"The status of the download.\n\n* `PREPARING`: the download is in a queue, waiting for other downloads to complete\n* `RUNNING`: the download is being processed\n* `SUCCEEDED`: the download has completed and the file is ready to be downloaded\n* `CANCELLED`: the download was cancelled by the user\n* `KILLED`: the download was killed by the download engine\n* `FAILED`: the download failed\n* `SUSPENDED`: the download was paused and its execution will be resumed later\n* `FILE_ERASED`: the download was successful, but the download file [has since been deleted](https://www.gbif.org/faq?question=for-how-long-will-does-gbif-store-downloads).","enum":["PREPARING","RUNNING","SUCCEEDED","CANCELLED","KILLED","FAILED","SUSPENDED","FILE_ERASED"]},"uniqueItems":true}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"statistics","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseDownload"}}}}},"x-Order":{"Order":"0120"}}},"/occurrence/download/user/{user}/count":{"get":{"tags":["Occurrence downloads"],"summary":"Counts all downloads from a user","description":"Retrieves the counts of occurrence downloads done by the user.","operationId":"countOccurrenceDownloadsByUser","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","description":"The status of the download.\n\n* `PREPARING`: the download is in a queue, waiting for other downloads to complete\n* `RUNNING`: the download is being processed\n* `SUCCEEDED`: the download has completed and the file is ready to be downloaded\n* `CANCELLED`: the download was cancelled by the user\n* `KILLED`: the download was killed by the download engine\n* `FAILED`: the download failed\n* `SUSPENDED`: the download was paused and its execution will be resumed later\n* `FILE_ERASED`: the download was successful, but the download file [has since been deleted](https://www.gbif.org/faq?question=for-how-long-will-does-gbif-store-downloads).","enum":["PREPARING","RUNNING","SUCCEEDED","CANCELLED","KILLED","FAILED","SUSPENDED","FILE_ERASED"]},"uniqueItems":true}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}},"x-Order":{"Order":"0121"}}},"/occurrence/download/{prefix}/{suffix}/datasets":{"get":{"tags":["Occurrence downloads"],"summary":"Lists datasets present in an occurrence download","description":"Shows the datasets with occurrences present in the given occurrence download.","operationId":"listDatasetUsagesByOccurrenceDownloadDOI","parameters":[{"name":"prefix","in":"path","description":"The DOI prefix of the download, 10.15468 for GBIF downloads","required":true,"schema":{"type":"string"}},{"name":"suffix","in":"path","description":"The DOI suffix of the download, begins 'dl.' for GBIF downloads","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Controls the number of results in the page. Using too high a value will be overwritten with the default maximum threshold, depending on the service. Sensible defaults are used so this may be omitted.","schema":{"type":"integer","format":"int32","minimum":0}},{"name":"offset","in":"query","description":"Determines the offset for the search results. A limit of 20 and offset of 40 will get the third page of 20 results. Some services have a maximum offset.","schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"Dataset usage within an occurrence download information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingResponseDatasetOccurrenceDownloadUsage"}}}},"400":{"description":"Invalid request"},"404":{"description":"Entity or subentity not found"},"5XX":{"description":"System failure \u2013 try again"}},"x-Order":{"Order":"0130"}}},"/occurrence/download/{key}/countries":{"get":{"tags":["Country usages occurrence downloads"],"summary":"Lists countries present
[...]
